// Import the original styles from edx-platform.
@import 'lms/static/sass/discussion/lms-discussion-main';

// Our custom sass start here
@import '../custom';

// Fix some missing style from courseware in discussion
html body.discussion {
  background-color: $gray-3;
  .content-wrapper , .window-wrap{
    background-color: $gray-3;
  }
  .header-global.slim {
      border-bottom:0;
      box-shadow: none;
      .wrapper-header {
        h1.logo {
          padding-right:15px;
        }
        h2.course-header {
          display: block;
          @include float(left);
          font-size: 0.9em;
          font-weight: 600;
          color: $lighter-base-font-color;
          letter-spacing: 0;
          margin-top: 9px;
          margin-bottom: 0;
          text-transform: none;
          text-shadow: 0 1px 0 #fff;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 60px;
          margin-top: 0;
        }
        .wrapper-user-menu {
          background-color: $gray-3;
          margin-top: 10px;
        }
      }
  }

  .course-material .tabs .tab a {
    padding: 10px 15px 13px 15px;
    color: #5e5e5e;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .dropdown-menu-container .menu-title {
    line-height: inherit;
    color: $base-font-color;
    font-weight: normal;
    font-family: $sans-serif

  }


  footer#footer-edx-v3 {
    .site-details , .references {
      // strange override ...flex-grid(6,12) for other pages is working...in forum not!
      width: flex-grid(4,8);
    }
    nav ol {
      margin:0;
    }
  }

  .left.nav-global.list-inline.authenticated {
    display:none;
  }
}
