<%! from django.utils.translation import ugettext as _ %> 
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" /> 
<%block name="title">
<title>About ${_("{platform_name}").format(platform_name=settings.PLATFORM_NAME)}</title>
</%block>
 <%block name="bodyclass">view-about</%block>
<section class="container about">
	<section class="banner">
		<div id="banner">
			<img src="${static.url('themes/polimix/images/banner_about.jpg')}"
				class="jpg" alt="">
			<div class="media">
				<div class="hero">
					<div class="no-play-intro"></div>
				</div>
			</div>
		</div>
	</section>
	<!--  <section class="vision">
		<p class="sub">Polimi offers the opportunity to widen your skills
			before, during and after your university carrier/education</p>
	</section>-->
	<section class="lego">
		<p class="intro-lego">MOOCs TO BRIDGE THE GAPS ...</p>
		<div class="boxes-wrapper">
			<div class="box before-box ">
				<div class="inner-box">
					<h3>... Before</h3>
					<p class="eng">Improve and consolidate your <strong>high school skills</strong> before you start your courses
					at <a href="http://www.polimi.it" target="_blank">Politecnico di Milano</a>.</p>
					<img src="${static.url('themes/polimix/images/about_1.jpg')}"
								class="jpg" alt="">
				</div>
				
			</div>
			<div class="box during-box ">
				<div class="inner-box">
					<h3>... During</h3>
					<p class="eng">Align your acquired skills to the ones of <a href="http://www.polimi.it" target="_blank">Politecnico di Milano</a> <strong>Master of Science</strong>
						if you come from another educational path.</p>
						<img src="${static.url('themes/polimix/images/about_2.jpg')}"
								class="jpg" alt="">
				</div>
			</div>
			<div class="box after-box ">
				<div class="inner-box">
					<h3>... After</h3>
					<p class="eng">Strengthen and enhance your <strong>soft skills</strong> to smooth your step into the job
						scene.</p>
						<img src="${static.url('themes/polimix/images/about_3.jpg')}"
									class="jpg" alt="">
				</div>
			</div>

		</div>

	</section>
</section>