<%! from django.utils.translation import ugettext as _ %> 
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" /> 
<%block name="title">
<title>About ${_("{platform_name}").format(platform_name=settings.PLATFORM_NAME)}</title>
</%block>

<section class="container about">
	<div class="region region-banner">
		<div class="region-inner clearfix">
			<div class="region-container container">
				<div class="region-container-inner">
					<div id="block-dynamic-banner-dynamic-banner-block"
						class="block block-dynamic-banner no-title">

						<div id="banner">
							<img src="${static.url('themes/polimix/images/polimi-pano.jpg')}"
								class="jpg" alt="">
							<div class="media">
								<div class="hero">
									<div class="no-play-intro"></div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<section class="vision">
		<p class="sub">Polimi offers the opportunity to widen your skills
			before, during and after your university carrier/education</p>
		<div class="boxes-wrapper">
			<div class="box before-box ">
				<h3>Before</h3>
				<p>Improve and consolidate your basic skills before you join us
					at POLIMI</p>
				<img src="${static.url('themes/polimix/images/quad.jpg')}"
								class="jpg" alt="">
			</div>
			<div class="box during-box ">
				<h3>During</h3>
				<p>Align your basic skills to the level required at Politecnico
					if you come from another university</p>
					<img src="${static.url('themes/polimix/images/quad.jpg')}"
								class="jpg" alt="">
			</div>
			<div class="box after-box ">
				<h3>After</h3>
				<p>Strengthen your soft skills to smooth your step into the job
					scene</p>
					<img src="${static.url('themes/polimix/images/quad.jpg')}"
								class="jpg" alt="">
			</div>

		</div>

	</section>
</section>