/*** Navigation ***/

@mixin current-page($page-selector, $link-selector, $selected-color) {
  .#{$page-selector} {
    .header-global-new li.#{$link-selector} a, .header-global li.#{$link-selector} a {
      color: $selected-color;
      border-bottom: 1px $selected-color solid;
    }
  }
}

/*.header-global .nav-global li a, .view-register .nav-global-04 a{

	color:$black !important;  // important in edx source file! Need to remove at origin
}*/
html .header-global-new .nav-courseware {
  &.right {
    margin-top: 0
  }
  .item {
    font-weight: bold;
    text-transform: uppercase;
    a.btn-login {
        display: block;
        font-family: $serif;
        font-size:21px;
        line-height: 21px;
        border-radius: 2px;
        padding: 15px 20px;
        text-align: center;
        color: $gray-1;
        background-color: $polimi-ciano;
    }
  }
}


@include current-page("view-register", "nav-global-04", $polimi-ciano);

@include current-page("view-about", "nav-global-01", $polimi-ciano);

@include current-page("view-courses", "nav-global-02", $polimi-ciano);


.nav-container {
  ol.user {
    li .dropdown {
      background-color:$gray-3;
      padding:9px 12px 10px 12px;
      border-radius: 0;
      border-right:1px $gray-1 solid;
      &.focus {
        background-color:$gray-3;
      }
    }
  }
}
