/***   Footer   ***/
footer#footer-edx-v3.pok-footer {
  padding:0;
  background: white;

  p {
    line-height: 1.3;
  }

  p, li {
    font-size: .9em;
    margin-bottom: 15px;
  }

  nav a {
    color: $black; //#707172

    &.standard-link {
      color: $link-color;
    }
  }

  .footer-content-wrapper .site-nav li a {
    text-transform: uppercase;
    font-family: $serif;
    font-size:24px;

    &:hover {
      text-decoration:none;
      color: $link-color;
    }
  }

  .footer-content-wrapper > div {
    padding: 35px 15px 20px;
    box-sizing: border-box;
  }

  .resources, .references {
    border-top: 1px solid #e6e6e6;
  }

  .social {
    padding-bottom:30px;

    span.fa{
      font-family: 'FontAwesome';
    }

    a {
      display: inline-block;
      color: white;
      background-color: $link-color;
      border-radius: 50%;
      height: 44px;
      width: 44px;
      text-align: center;
      font-size: 24px;
      line-height: 1.9;
      margin-right: 12px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .openedx {
    padding-bottom:30px;
  }

  .eco-references, .badge {
    display: flex;
    align-items: center;
  }

  img {
    margin-bottom: 15px;
  }

  .eco-references img, .reimagine-award img {
    margin-right:15px;
  }

  /* grid settings */

  .footer-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav"
                         "social"
                         "loghi";
  }

  .footer-nav {
    grid-area: nav;
  }

  .resources {
    grid-area: social;
  }

  .references {
    grid-area: loghi;
  }

  @media (min-width:769px) {
    .footer-content-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "nav social ."
                           "loghi loghi loghi";

       & > div {
         float:left; //grid fallback
       }
    }

    .resources {
      border-top:0;
    }
  }

  @media (min-width:980px) {
    .footer-content-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "nav social . loghi";

      & > div {
        width: 25%; //grid fallback

        &:last-child {
          float:right; //grid fallback
        }
      }
    }

    .references {
      border-top:0;
    }
  }

  @media (min-width:769px) and (max-width: 979px){
    .references {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
    }

    .openedx {
      padding-bottom:0;
    }

    .footer-content-wrapper > div {
      width: 33%; //grid fallback

      &:last-child {
        float:none; //grid fallback
        width:100%; //grid fallback

        & > div {
          width:33%; //grid fallback
          float:left; //grid fallback
        }
      }
  }

}
