/*** Navigation ***/

@mixin current-page($page-selector, $link-selector, $selected-color) {
  .#{$page-selector} {
    .header-global-new li.#{$link-selector} a, .header-global li.#{$link-selector} a {
      color: $selected-color;
      border-bottom: 1px $selected-color solid;
    }
  }
}


.header-global .nav-courseware {
  &.right {
    margin-top: 0
  }
  .item {
    font-weight: bold;
    text-transform: uppercase;
    a.btn-login {
        display: block;
        font-family: $serif;
        font-size:21px;
        line-height: 21px;
        border-radius: 2px;
        padding: 15px 20px;
        text-align: center;
        color: $gray-1;
        background-color: $polimi-ciano;
    }
  }
}


@include current-page("view-register", "nav-global-04", $polimi-ciano);

@include current-page("view-about", "nav-global-01", $polimi-ciano);

@include current-page("view-courses", "nav-global-02", $polimi-ciano);


.nav-container {
  ol.user {
    li .dropdown {
      background-color:$gray-3;
      padding:9px 12px 10px 12px;
      border-radius: 0;
      border-right:1px $gray-1 solid;
      min-height:44px;
      &.focus {
        background-color:$gray-3;
      }
    }
  }
}


.header-global, .header-global.slim {
  opacity: $home-opacity;
  padding:0;

  .nav-global li a {
    padding: 5px 5px 0 5px;
    color: $black;
  }
  .nav-container {
    padding: 10px 10px 0;
  }
  .wrapper-header {
    padding:10px 10px;

    h2.course-header {
      line-height: 60px;
      margin: 0 15px;
      width: auto;
      letter-spacing:0;
    }
    h1.logo {
      margin: 0 15px 0 0;

      img {
        height: 41px;
      }
    }
    ol.user {
      margin-top:10px;

      li .dropdown {
        min-height:44px;
      }
    }
  }
}
.header-global-new {
  opacity: $home-opacity;

  nav {
    padding:0;
    float:left;
    &.nav-account-management {
      float:none;
    }
  }
}

header .nav-container .user .user-link .user-image-frame, .header-global .user .user-link .user-image-frame {
  max-height:44px;
  max-width:unset;
  border-radius: 0%;
}

.header-global .user .user-link .label-username {
  margin-left: 10px;
}

.header-global ol.user {
  background-color: $gray-3;
}

.header-global .user-menu .user-dropdown {
  width: calc(40px * 0.75);
  height: calc(40px * 0.75);
  padding: 0;
  margin-top: 5px;
  border: none;
  vertical-align: top;
  position: relative;
}

.header-global .user .user-dropdown{
  background-color: transparent!important;
}

.dropdown-menu-container .menu-button{
  margin-top:0px!important;
}
