
%bg-bachelor {
    background-color: $color-classification-bachelor;
}
%bg-master {
    background-color: $color-classification-master;
}
%bg-job {
    background-color: $color-classification-job;
}
%bg-teachers {
    background-color: $color-classification-teachers;
}
%bg-citizens {
    background-color: $color-classification-citizens;
}
%bg-researchers {
    background-color: $color-classification-researchers;
}
@mixin classification-span-bg-color($classification) {
  &.classification-#{$classification} {
    @extend %bg-#{$classification};
    text-align: left;
    padding-left: 15px;
    display: block;
    box-shadow: 0 1px 8px 0px rgba(0,0,0,0.4);
    position: relative;
    z-index: 2;
  }
}
@each $course, $classification in $course-map-classification {
  span.classification-card {
    &.classification-#{$course} {
      @extend %bg-#{$classification};
      text-align: left;
      padding-left: 15px;
      display: block;
      box-shadow: 0 1px 8px 0px rgba(0,0,0,0.4);
      position: relative;
      z-index: 2;
    }
  }
}
