@mixin account-header($background) {
  /*border:none;*/
  height: 150px;
  h1.title {
    right: 30px;
    left: auto;
    margin-bottom: 0;
    padding: 3px;
    opacity: .8;
    background: $background;
    span.title-sub,
    span.title-super {
      display: inline;
    }
    span.title-sub {
      text-transform: none;
    }
  }
}

.view-register {
  span {
    line-height: 1.3em;
  }

  .header-global {
    nav {
      width: auto;
    }
  }
  .introduction {
    header {
      @include account-header($gray-1);
    }
  }
  .register.container {
    padding-left:0;
    padding-right:0;
    .aunica-login h3, .already-registered h3 , .new-user-external h3{
      color: $polimi-ciano;
      text-transform: uppercase;
      > span {
        color: $polimi-ciano;
      }
    }
    .already-registered h3, .new-user-external h3 {
        margin-bottom:5px;
    }
    .aunica-login .instructions span, .new-user-external .instructions span {
      margin:10px 0;
      display:block;
      &.locale-separator {
          display:none;
      }

    }
    .new-user-external .instructions {
      margin-bottom:15px;
      span  {
        line-height: 0.8em;
      }
    }

    aside {
      width: flex-grid(4);
      margin-right: flex-gutter();
      .cta {
        padding: 30px 20px;
        background: $gray-0;
        margin-bottom: 30px;
        h3 {
          font-size: 15px;
          margin: 0 0 10px 0;
        }
        &.aunica-login {
          border: 2px solid $polimi-ciano;
          border-radius: 4px;
          background-color: $gray-1;
          h3 {
            margin-top:30px;
            &:first-child {
              margin-top:0px;
            }
            &.en-planning {
              margin-top:20px;
            }
          }
        }
        &.eco-login {
          background: $gray-1;
          border: 2px solid $eco-yellow;
          border-radius: 4px;
          .link2button {
            background-color: $eco-yellow;
          }
          .provider-name {
            color:$gray-1;
            text-transform: uppercase;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
      .button-login {
        margin-top:30px;
        margin-bottom:30px;
      }
    }
    section.content {
      width: flex-grid(8);
      margin-right:0;
      padding-left: 50px;
      .mandatory-fields {
        margin-bottom: 10px;
        font-size:0.8em;
      }
    }
    section .aunica-login h3,
    section .pok-user h3 {
      font-size: 1.6em;
    }
    .field .it {
      display: block;
    }
    .link2button {
      display: block;
      color: $gray-1;
      background-color: $polimi-ciano;
      box-shadow: none;
      &:hover,
      &:focus,
      &:active {
        border-bottom: 0;
      }
    }
    aside,section {
      p {
        font-size:15px !important;
      }
    }
  }
  .footer-content-wrapper footer {
    width:auto;
  }
}

.view-login {
  span {
    line-height: 1.3em;
  }
  .header-global {
    nav {
      width: auto;
    }
  }
  .introduction {
    header {
      @include account-header($gray-1);
    }
  }
  .login.container {
    padding-left:0;
    padding-right:0;
    .aunica-login h3, .info-register h3, .pok-login h3 {
      color: $polimi-ciano;
      text-transform: uppercase;
      > span {
        color: $polimi-ciano;
      }
    }
    .aunica-login .instructions span {
      margin:10px 0;
      display:block;
      &.locale-separator {
          display:none;
      }

    }
    section.content {
      width: flex-grid(8);
      margin-right:0;
      padding-left: 50px;
    }
    section .aunica-login h3,
    section .pok-user h3 {
      font-size: 1.6em;
    }
    .info-register h3 {
        margin-bottom:5px;
    }
    aside {
      width: flex-grid(4);
      margin-right: flex-gutter();
      .cta {
        padding: 30px 20px;
        background: $gray-0;
        margin-bottom: 30px;
        h3 {
          font-size: 15px;
          margin: 0 0 10px 0;
        }
        &.aunica-login {
          border: 2px solid $polimi-ciano;
          border-radius: 4px;
          background-color: $gray-1;
        }
        &.eco-login {
          background: $gray-1;
          border: 2px solid $eco-yellow;
          border-radius: 4px;
          .link2button {
            background-color: $eco-yellow;
          }
          .provider-name {
            color:$gray-1;
            text-transform: uppercase;
          }

        }
        p {
          margin-bottom: 0;
        }
      }

    }
    .button-login {
      margin-top:30px;
      margin-bottom:30px;
    }
    .link2button {
      display: block;
      color: $gray-1;
      background-color: $polimi-ciano;
      box-shadow: none;
      &:hover,
      &:focus,
      &:active {
        border-bottom: 0;
      }
    }
    .login form .field.required label:after {
      content: '';
      //remove * for login form

    }
    aside,section {
      p {
        font-size:15px !important;
      }
    }
  }
  .footer-content-wrapper footer {
    width:auto;
  }
}

.view-register,
.view-login {
  .introduction {
    width: 960px;
  }
  .intro-polimi {
    width: 960px;
    margin: 0 auto;
    margin: 0 auto;
    padding: 10px;
    background: $container-bg;
    @include box-sizing(border-box);
    @include clearfix;
    .instructions {
      .locale-separator {
        display: none;
      }
      span.it,
      span.en {
        display: block;
      }
    }
  }

}

.view-passwordreset {
  .header-global {
    .nav-courseware,
    ol.nav-global {
      display: none;
    }
  }
  .footer-content-wrapper {
    display: none;
  }
}

.bolder-shame {
    .instructions  span , h3 span, .button-login a{
      font-weight: 600;
    }
}
