@mixin section_header_info($className, $imgName) {
  section.#{$className} h2 {
    padding: 5px 5px 5px 38px;
    background: $gray-3 url($imgName) 5px center no-repeat;
  }
}

.view-in-course .window-wrap {
  background-color: #f5f5f5; // gimcko gray
}

.content-wrapper div.info-wrapper {
  background-color:white;

  section.updates {
    padding-left:40px;

    h3 {
      display: none;
    }
    > div {
      padding-left: inherit;
    }
  }
  section.handouts {
    display: none;
  }
  .pok-course-info-wrapper {
    padding-left:0;
    section {
      margin-bottom: lh() + lh();
    }
    section h2 {
      font-size: 1.4em;
      padding-left: 0;
    }
    @include section_header_info("pok-course-info","../images/ico_info.png");
    @include section_header_info("pok-course-grading","../images/ico_quiz.png");
    @include section_header_info("pok-course-forum","../images/ico_forum.png");
    @include section_header_info("pok-course-prerequisiti","../images/ico_prerequisiti.png");
    @include section_header_info("pok-course-docente","../images/ico_info.png");
    @include section_header_info("pok-course-approfondimento","../images/ico_approfondimento.png");
    @include section_header_info("pok-course-sottotitoli","../images/ico_sottotitoli.png");
    @include section_header_info("pok-course-certificato","../images/ico_certificate.png");
    @include section_header_info("pok-course-bibliografia","../images/ico_bibliografia.png");

    // syllabus-download-button like video-download-button

    a.syllabus-download-button {
      margin-top:30px;
      border-radius: 3px;
      transition: all 0.25s ease-in-out 0s;
      font-size: 14px;
      line-height: 14px;
      border: 1px solid $black-80;
      padding: 15px;
      color: $black-80;
    	display: inline-block;

      &:hover, &:focus {
        background-color: $polimi-ciano;
    		border-color: $polimi-ciano;
        color: $gray-1;
      }
    }
  }
}

.content-wrapper .accordion .graded span.menu-icon.icon.fa.fa-pencil-square-o{
    font-size: 1.5em;
    &:before {
      content: "\f11e";
    }
}

.content-wrapper section.tutorial {
  margin: 0 auto;
  text-align: center;
}

// doc page inside courseware
.content-wrapper .course-staff {
  .teacher {
    padding: 10px 0;
    background-color: transparent;
    @include clearfix;

    h3 {
      line-height: 0.8;
      padding-bottom: 11px;
    }

    h3, p {
      @media (min-width:768px) {
        padding-left:145px; /* image width is fixed */
      }
    }
  }
  .teacher-image {
    @media(min-width:450px) {
      float: left;
    }
    overflow: hidden;
    width: 115px;
    height: 115px;
    margin: 0 30px 0 0;
  }
}

// h3 style like h2

.vert-mod .vert {
  .hd-2, .xblock .xblock h3, .xmodule_display.xmodule_HtmlModule h3 {
    text-transform: uppercase;
    font-weight:400;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
  }

  .xmodule_display.xmodule_CapaModule div.problem-progress {
    display:block;
  }
}

// week 0

@media(min-width:992px) {
  p.replacement_text { // not visible but screen-readable
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media(max-width:991px) {
  img.tip {
    display:none;
  }
}

.header-global.slim {
  border-bottom: 1px solid $polimi-ciano;

  h2 {
      margin-bottom: 0;
      text-transform: none;
      text-shadow: 0 1px 0 #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
}
