.view-dashboard .header-global {
  border-bottom: 1px solid #a1a5a5;
}

.content-wrapper .dashboard {
  .activation-message span.it {
    display: block;
  }
  .profile-sidebar {
    border: none;
  }
  .profile-sidebar header.profile {
    background-color: $polimi-ciano;
    h1.user-name {
      color: white;
    }
  }
  .profile-sidebar .user-info > ul li span {
    &.it,
    &.en,
    &.locale-separator {
      display: inline;
    }
  }
  .profile-sidebar .user-info > ul li span.data .auth-provider .provider {
    width: flex-grid(8);
  }
  .my-courses {
    .course {
      margin: 24px;
    }

    .course .details .wrapper-course-image {
      @include margin-right(flex-gutter(9));
      width: flex-grid(3,9);
    }
    .course .details .wrapper-course-details {
      width: flex-grid(6,9);
    }
    header h2 {
      font-weight: 600;
      color: $black;
    }
    .course .details .course-title a {
      font-size:1.8em;
      line-height: 1em;
    }
    .course .details .wrapper-course-image .cover {
      max-height: 200px;
      border-bottom: 1px solid $gray-3;
      border-top: 0;
      border-radius: 0;
      img {
        min-height: 0;
      }
    }
    .listing-courses .course-item .course-container {
      background-color: white;
      border: 1px solid #d9d9d9;
    }
    a.unenroll,
    a.email-settings {
      color: $polimi-ciano;
    }

    // dashboard certificate information

    .course .wrapper-messages-primary .message.message-status .action .btn, div.fail {
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-shadow: none;
      background: $polimi-ciano;
      color: white;
      border-radius: 0;
      display:block;

      &:hover {
        text-decoration: none;
      }
    }
    div.fail {
      background-color: #d8d8d8;
      cursor: not-allowed;
    }
    .course .wrapper-messages-primary .message {
      padding: 20px 0 0;

      &.message-status .message-copy {
        margin: 0 0 15px;
      }

      &.message-status.course-status-certavailable .message-copy {
        float:none;
      }
    }
    div.action, div.fail {
      float: left;
      width: 50%;
      box-sizing: border-box;
      font-weight: normal;
    }
    div.action-certificate, div.fail {
      padding-right: 8px;
    }
    div.survey-url {
      padding-left: 8px;
    }
  }
  .my-courses .course .info > hgroup h3 a,
  .my-courses .course .info > hgroup h3 span {
    font-size: 28px;
  }

  .dashboard-search-bar .search-field {
    box-shadow: 0 0 6px 0 $gray-3, inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
  }
}
