/***   Footer   ***/

.footer-content-wrapper {
  p, li {
    font-size: .8em;
  }

  a {
    color: $black; //#707172
    &:hover, &:focus, &:active {
      border-bottom: 1px solid $polimi-ciano;
    }
  }

  .site-nav {
    a {
      text-transform: uppercase;
      font-family: $serif;
    }
  }

  .footer-logo a, .references a.open-edx-logo, .references a.eco-project-logo {
    &:hover, &:focus, &:active {
      border-bottom: none;
    }
  }

  nav.nav-terms {
    li {

      a {
        color: $base-font-color;
        &:last-child {
          color: $link-color;
        }
      }
    }
  }
}
