.faq .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-sizing: border-box;
    padding: 8px 0;
  }

  .faq .panel p:last-child {
    margin-bottom: 25px;
  }

  .faq .panel p:first-child {
      margin-top: 10px;
  }

  .faq h2 {
    border-top: 1px solid;
    padding-top: 30px;
    font-family: trebuchet MS;
  }

  .faq h2.first {
    border-top:0;
  }

  .faq h3 {
    padding: 15px 0;
    font-family: trebuchet MS;
  }

  .faq h3 span {
    background-color: #1d9dd9;
    color: #fff;
    padding: 2px 10px;
  }

  .faq p a:hover, .faq p a:focus, .faq p a:visited:hover, .faq p a:visited:focus {
    color: #00acd7;
    text-decoration: none;
  }

  .faq ol {
    padding: 0 0 0 28px;
  }

  .faq ol.faqit > li, .faq ol.faqen >li {
    margin-bottom: 0;
  }

  .faq ul {
    list-style-type: disc;
  }

  .faq ul li {
    line-height: 1.8;
  }

  .faq .accordion h4 {
    font-weight: 200;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-family: trebuchet MS;
    font-size: 16px;
    line-height:1;
  }

  .faq .accordion.active h4, .faq .accordion:hover h4 {
    color: #00acd7;
  }

  .faq .accordion.active h4 {
    font-weight: 600;
  }
