@media screen and (max-width: $desktop-small + $gw-gutter) {
  @include mobile("responsive", $desktop-small);
  html body {
    font-size: .92em;
  }
  .home > header {
    .outer-wrapper .title {
      width: flex-grid(7);
      margin-left: flex-grid(2);
    }
    .title > hgroup {
      h1 {
        letter-spacing: 2px;
      }
    }
  }
  .container.about {
    .media {
      .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    /*.box .inner-box p {
      min-height: 200px;
    }*/
    .box {
      width: 100%;
      display:block;
      float: none;
    }
  }
  //override edx _footer.scss file which set 960px
  html .view-register footer .footer-content-wrapper,
  html .view-login footer .footer-content-wrapper {
    width: auto;
  }
  .view-register,
  .view-login {
    .introduction,
    .intro-polimi {
      width: auto;
    }
  }
  html header.header-global.slim h2 {
    width: flex-grid(6);
  }

  .dashboard .course-more-info {
    font-size: 0.9em;
  }
}
