@mixin mobile($selector, $width) {
  //.#{$selector} {
  #polimi-header,
  .polimi-container,
  header.header-global,
  header.header-global nav,
  .content-wrapper,
  .footer-content-wrapper,
  .header-global-new .wrapper-header:not(.rwd),
  #polimi-footer {
    max-width: $width - $baseline;
    //margin:0 ($baseline / 2) 0 ($baseline / 2);

  }
  header.header-global nav,
  footer .footer-content-wrapper,
  .header-global-new .wrapper-header:not(.rwd),
  .content-wrapper section.container {
    // contain float right element reducing min-width (760px in original version)
    min-width: auto; //$width - $width / 4;
  }
  .content-wrapper section {
    .container,
    /*selector with class needed to override default edx css*/
    &.introduction,
    &.intro-polimi,
    &.container,
    &.home,
    &.about,
    &.lego,
    .box .innerbox {
      max-width: $width - $baseline;
      margin-right: 0;
      margin-left: 0;
    }
  }
  .content-wrapper {
    .course-item, .course-wrapper  {
      max-width: $width - $baseline;
      margin-right: 0;
      margin-left: 0;
    }
  }
  html body footer#footer-edx-v3 .footer-content-wrapper {
    max-width: $width - $baseline;
    margin-right: 0;
    margin-left: 0;
  }
  img,
  select,
  input {
    max-width: $width - $baseline;
  }
  //}
}

@import "responsive-desktop-large-min";
@import "responsive-desktop-small-max";
@import "responsive-mobile-large-max";
@import "responsive-mobile-medium-max";
//@import "responsive-mobile-small-max";
