{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Hai ricevuto questa mail perchè hai chiesto di resettare la password su Polimi Open Knowledge.{% endblocktrans %}

{% trans "Clicca sul link qui sotto e inserisci una nuova password." %}

Se non hai richiesto la modifica della password ignora questa mail; la tua password non verrà resettata.


{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at Polimi Open Knowledge.{% endblocktrans %}

{% trans "Please click on link below and choose a new password" %}

If you didn't request this change, you can disregard this email - we have not yet reset your password.


Link:
{% block reset_link %}
https://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}


{% blocktrans %}The POK Team{% endblocktrans %}

{% endautoescape %}
