{% load i18n %}{% load url from future %}

{% autoescape off %}
{% blocktrans %}Hai ricevuto questa mail perché hai chiesto di resettare la password su Polimi Open Knowledge.{% endblocktrans %}

{% trans "Clicca sul link e inserisci una nuova password:" %}
{% block reset_link %}
https://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Se non hai richiesto la modifica della password ignora questa mail; la tua password non verrà resettata.

{% endautoescape %}


{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at Polimi Open Knowledge.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

If you didn't request this change, you can disregard this email - we have not yet reset your password.




{% blocktrans %}The POK Team{% endblocktrans %}

{% endautoescape %}
