{% load i18n %}
{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>

  <title>{% trans "Your Password Reset is Complete" %}</title>

  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}
  <link rel="stylesheet" href="${static.url('themes/polimix/css/vendor/polimi-identity.css')}" />
<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:500,400,700' rel='stylesheet' type='text/css'> 
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic,400italic,700italic,900italic,' rel='stylesheet' type='text/css'>
  

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>

</head>

<body class="view-passwordreset">
 <div id="polimi-header">
   <div class="polimi-container">
     <div class="polimi-name"> <a href="http://www.polimi.it" target="_blank"><img src="${static.url('themes/polimix/images/poli_logotipo.png')}"  alt="Politecnico di Milano" /></a></div>
    </div>
  </div>

<header class="global">
  <nav>
    <h1 class="logo">
      <a href="{{MKTG_URL_ROOT}}"><img src="${static.url('themes/polimix/images/POK_logo_80.png')}"  alt="Home page" /></a>
    </h1>
  </nav>
</header>

<div class="content-wrapper">
  <div class="passwordreset container">
    <section class="introduction">
      <header>
        <h1><span class="it">Cambio password completato</span><span class="line-separator">/</span><span class="en">Your Password Reset is Complete</span></h1>
      </header>
    </section>

    {% block content %}
    <div role="main" class="content">
      <span class="it">
      La tua password è stata modificata. Puoi proseguire ed effettuare il <a href="/login">login</a>
      </span>
      <span class="en">
      {% blocktrans with link_start='<a href="/login">' link_end='</a>' %}
      Your password has been set.  You may go ahead and {{ link_start }}log in{{ link_end }} now.
      {% endblocktrans %}
      </span>
    </div>
    {% endblock %}
  </div>
</div>
