<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
  from openedx.core.lib.js_utils import escape_json_dumps
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${ escape_json_dumps(course_discovery_meanings) | n },
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>
<%block name="bodyclass">view-courses</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  # course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))
  course_index_overlay_text = _("Explore free courses from Polimi Open knowledge")

  # not sure why this is, but if I use static.url('images/edx_bw.png') then the HTML rendering
  # of this template goes wonky

  # logo_file = microsite.get_value(
  #  'course_index_overlay_logo_file', settings.STATIC_URL + 'images/edx_bw.png')

  logo_file = 'themes/polimix/images/POK_logo.jpg'
  logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>

<section class="find-courses">

  <header class="search">
    <div class="inner-wrapper main-search">
      <hgroup>
        <div class="logo">
          <img src="${static.url(logo_file)}" alt="${logo_alt_text}" />
        </div>
        <h2>${course_index_overlay_text}</h2>
      </hgroup>
    </div>
  </header>

  <section class="courses-container">
    % if course_discovery_enabled:
    <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
      <div id="discovery-message" class="search-status-label"></div>
      <form class="wrapper-search-input">
        <label for="discovery-input" class="sr">${_('Search for a course')}</label>
        <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
        <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
          <i class="icon fa fa-search" aria-hidden="true"></i>
          <div aria-live="polite" aria-relevant="all">
            <div id="loading-indicator" class="loading-spinner hidden">
              <i class="icon fa fa-spinner fa-spin"></i>
              <span class="sr">${_('Loading')}</span>
            </div>
          </div>
        </button>
      </form>
    </div>

    <div id="filter-bar" class="filters hide-phone is-collapsed">
    </div>
    % endif

    <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
      <ul class="courses-listing">
        %for course in courses:
	        % if not course.has_ended():
	        <li class="courses-listing-item">
	          <%include file="../course.html" args="course=course" />
	        </li>
	        % endif
        %endfor
      </ul>
    </div>


    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
      <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
      <section class="search-facets-lists">
      </section>
    </aside>
    % endif

  </section>
</section>
