@font-face {
  font-family: 'Trebuchet MS';
  src: url('${static.url('fonts/Trebuchet/Trebuchet_MS.ttf')}');
}
@font-face {
  font-family: "Trebuchet MS";
  src: url('${static.url('fonts/Trebuchet/Trebuchet-Bold.ttf')}');
  font-weight: bold;
}
table, tr, td {
  border:0;
  border-spacing:0;
  padding:0;
}
table {
  font-size: 13px;
  color: #707172;
}
h1, h2, .card p, .card h6 {
  font-family: "Yanone Kaffeesatz", serif;
  font-weight: normal;
}
h1, h2 {
  text-transform:uppercase;
  text-align:center;
}
h1 {
  font-size:42px;
  margin: 18px 0;
}
h2 {
  display:inline;
  font-size:24px;
}
.head_stripes {
  width:377px;
}
.head_stripes.right_stripes {
  transform: rotate(180deg);
}
h6 {
  text-transform: uppercase;
  font-size: 14px;
}
p, h6 {
  margin-top: 18px;
  margin-bottom:20px;
  line-height: 27px;
}
p+p {
  margin-top: 35px;
}
p.highlighted {
  font-size:21px;
  font-weight: bold;
  color:#00acd7;
}
p.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color:#00acd7;
}
.loghi {
  text-align:center;
  margin: 35px 0;
}
.loghi img {
  height: 50px;
  width: auto;
  margin: 0 10px;
}
.card {
  position: relative;
  padding: 0;
}
.card:after { /* hack for printable background */
  border-left: 295px solid #00acd7;
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.card p, .card h6 {
  color: white;
  text-align:right;
  margin-right:30px;
}
.card p:after, .card h6:after {
  content: "";
  border: 10px solid #00acd7;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  margin-top: 5px;
}
.card p{
  font-size:19px;
}
.stripes {
  background-color:white;
  width: 295px;
  height: 85px;
}
.preview {
  width: 295px;
  height:auto;
  display:block;
}
.core {
  float: left;
  position: relative;
  width: 603px;
  height: 434px;
}
.core > div:first-child {
  position: absolute;
  top: 0;
  left: 45px;
}
.core > div:last-child {
  position: absolute;
  bottom: 0;
  left: 45px;
}
p.date {
  margin-top:0;
}
p.code {
  margin-top: 10px;
  font-size: 11px;
  line-height: 14px;
}
p.disclaimer {
  margin-bottom: 0;
}
.teachers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.teachers img {
  height: 80px;
  display:block;
}
.teachers img, .teachers span {
  max-width: 90%;
}

/* scaling proportionally */

#certificate_wrapper {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  border: 20px solid #f5f5f5;font-size:13px;
  line-height:16px;
  background-color: #f5f5f5;
  color: #707172;
  font-family: "Trebuchet MS", sans-serif;
}
#certificate {
  width: 1003px;
  height:700px;
  transform-origin: top left;
  position:absolute;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
}

@media print{
  #certificate_wrapper {
    border:0;
  }
  #certificate {
    left:0!important;
    top:0!important;
    box-shadow:none;
  }
}

/* print button */

@media print {
  .wrapper-banner {
    display:none;
  }
}
.wrapper-banner {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #ccc;
  color: #707172;
  font-family: "trebuchet MS", sans-serif;
}
.wrapper-copy-and-actions {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.action-print {
  font-size: 1em;
  box-sizing: border-box;
  letter-spacing: 0;
  border: 1px solid #0083a4;
  border-radius: 3px;
  padding: 8px 20px;
  background-color: transparent;
  color: #0083a4;
  text-align: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-left: 15px;
}
button.action-print:hover {
  background-color: #00acd7;
  color: white;
  border-color: #00acd7;
}
