/****************************************************************************************************
*   Custom Theming File
*
*   Contains style for overridden template files
*
****************************************************************************************************/

// using poli prefix to prevent names collision with original edx files
@import "poli_base";
@import "poli_navigation";
@import "poli_index";
@import "poli_about";
@import "poli_courses";
@import "poli_registration";
@import "poli_dashboard";
@import "poli_ie";
@import "responsive";





/***   Footer   ***/
.wrapper-footer {
	footer {
    	h1.logo {
		    float: left;
		    margin: -2px 39px 0px 0px;
		    position: relative;
		
		    a {
		      color:$link-color;
		      display: block;
		      &:hover, &:focus, &:active {
		      	border-bottom:none;
		      }
		    }
  		}
  		
  		.terms {
  		 clear:left;
  		 float:right;
  		}
  		nav.nav-terms {
  		  li {
  		   float:left;
  		   display:inline;
  		   padding:5px;
  		   font-size:0.8em;
  		   border-right: 1px dotted $base-font-color ;
  		   &:last-child {
  		   	border:none;
  		   }
  		   a {
  		     color:$base-font-color;
  		   }
  		  }
  		}
	}
}
