/****************************************************************************************************
*   Custom Theming File
*
*   Contains style for overridden template files
*
****************************************************************************************************/

// using poli prefix to prevent names collision with original edx files
@import "poli_base";
@import "poli_navigation";
@import "poli_index";
@import "poli_about";
@import "poli_classification";
@import "poli_courses";
@import "poli_courseware";
@import "poli_registration";
@import "poli_dashboard";
@import "poli_ie";
@import "responsive";

.contact-us-tab {
  position: fixed;
  z-index: 99;
  top: 500px;
  right: -35px;
  opacity: .85;
  @include transform(rotate(90deg));
  a {
    padding: 5px;
    background-color: $polimi-ciano;
    &:link,
    &:visited {
      color: $gray-1;
    }
    &:hover {
      color: $polimi-ciano;
      background-color: $gray-1;
    }
  }
}

/***   Footer   ***/
html .wrapper-footer {
  footer#footer-openedx {
    .nav-colophon ol {
      a {
        font-family: $serif;
      }
    }
    .references,
    .colophon {
      width: flex-grid(6, 12);
      margin: 0;
    }
    h1.logo {
      position: relative;
      float: left;
      margin: -10px 39px 0 0;
      a {
        display: block;
        color: $link-color;
        &:hover,
        &:focus,
        &:active {
          border-bottom: none;
        }
      }
    }
    .references a.open-edx-logo,
    .references a.eco-project-logo {
      &:hover,
      &:focus,
      &:active {
        border-bottom: none;
      }
    }
    .references .additional-logo-info {
      font-size: .8em;
      margin-top: 25px;
      .eco-agreement {
        font-size: .9em;
      }
      span {
        display: block;
        &.in-collab {
          margin-top: -2px;
        }
      }
    }
    .eco-references {
      float: right;
      width: 260px;
      padding-right: 30px;
      border-right: 1px solid #ebebeb;
      .additional-logo-info {
        display: block;
        text-align: right;
      }
      .eco-loghi-container {
        margin-top: 7px;
        @include clearfix;
        .eco-loghi {
          float: left;
          width: flex-grid(6, 12);
        }
        .eco-project-logo {
          float: right;
        }
        .reimagine-award {
          float:right;
          margin-top:10px;
        }
      }
    }
    .built-on {
      float: right;
      width: 180px;
      @include clearfix;
    }
    .terms {
      clear: left;
      margin-top: 30px;
    }
    nav.nav-terms {
      li {
        font-size: .8em;
        display: inline;
        float: left;
        padding: 5px;
        border-right: 1px dotted $base-font-color;
        &:last-child {
          border: none;
        }
        a {
          color: $base-font-color;
          &.standard-link {
            color: $link-color;
          }
        }
      }
    }
  }
}
