.view-register {
	.register {
		aside .already-registered h3  {
			color:$polimi-ciano;
		}
		section .aunica-login h3, section .pok-user h3 {
		 font-size:1.6em;
		 
		}
		.field .it {
			display:block;
		}
		.link2button {
			display:block;
			color:$gray-1;
			background-color:$polimi-ciano;
		}
	
	}
	
}


.view-login {
	.login {
		section .aunica-login h3 , section .pok-user h3 {
			font-size:1.6em;
		}
		
		.link2button {
			display:block;
			color:$gray-1;
			background-color:$polimi-ciano;
		}
	}

}


