/*** Navigation ***/

@mixin current-page($page-selector,$link-selector,$selected-color){
	 .#{$page-selector} {
	 
	 	header.global li.#{$link-selector} a {
	 		border-bottom:1px $selected-color solid;
	 		color:$selected-color !important; // important in edx source file! Need to remove at origin
	 		&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $selected-color;
				right: 43%;
				top: 100%;
			}
	 	}
	 	
	 	.wrapper-footer footer {
			.colophon .nav-colophon li.#{$link-selector} {
			  		 a {
			  			color:$selected-color ;
			  		}
		  	}
		}
	 	
	 }
}

header.global .nav-global li a, .view-register .nav-global-04 a{

	color:$black !important;  // important in edx source file! Need to remove at origin
}
header.global .nav-courseware li .cta-login {
	font-weight: bold;
	text-transform: uppercase;
}

.wrapper-footer footer {
	.colophon .nav-colophon li {
  			display:inline-block;
  			text-transform:uppercase;
  			margin:0 21px 0 0;
  			font-size: 0.875em;
  			font-weight:600;
	  		 a {
	  			color:$black;
	  		}
  		}
}
@include current-page("view-register","nav-global-04",$polimi-ciano);
@include current-page("view-about","nav-global-01",$polimi-ciano);
@include current-page("view-courses","nav-global-02",$polimi-ciano);
