.content-wrapper .dashboard {
	.profile-sidebar header.profile {
		background-color:$polimi-ciano;
	}
	.my-courses .course .cover {
		border-bottom:1px solid $gray-3;
		height:auto;
		img {
			min-height:0;
		}
	}
	

} 

