.container.about, section.about.outside-app {
	padding:0 30px 20px 30px;
	width:auto;
}

.container.about {
	color: $lighter-base-font-color;
  	font: normal 1.2em/1.2em $serif;
  	letter-spacing: 1px;
  	-webkit-font-smoothing: antialiased;
	
	img {
      display: block;
      width: 100%;
	}
	#banner {
		position: relative;
		 
	}
	.media {
      background: #FFF;
      border: 1px solid $border-color-3;
      border-left: 0;
      @include box-sizing(border-box);
      // box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.5);
      height: 120px;
      //float: right;
      position: absolute;
      top:200px;
      vertical-align: top;
      width: flex-grid(2) + flex-gutter();
      z-index: 10;
	  @extend .animation-harvard-slide;
	      &:hover, &:focus {
	        text-decoration: underline;
	      }

	      .hero {
	        height: 100%;
	        overflow: hidden;
	        position: relative;
	        background: $white url($pok-logo-ciano-url) center no-repeat;
	        background-size: cover;
	
	      }
     }
     .vision {
     	text-align:center;
     	position:relative;
     	top:-30px;
     	background-color: $black;
     	opacity:$home-opacity;
     	.sub {
     		color:$gray-1;
     	}
     }
     .intro-lego {
     	font-size:2em;
     	color:$polimi-ciano;
     	text-align:center;
     }
	.boxes-wrapper {
		margin:0 auto;
		text-align:center;
	}
	.box {
		float:left;
		width:flex-grid(4,12);
		margin:6px;
		
		.inner-box {
			min-height:400px;	
			padding-top:10px;
			width:flex-grid(10,12);
			margin: flex-grid(1);
			background: #fff;
			@include box-sizing(border-box);
      		box-shadow: 0 1px 10px 0 rgba(0,0,0, 0.15), inset 0 0 0 1px rgba(255,255,255, 0.9);
      		
      		p {
      			min-height:100px;
      			text-align:justify;
				margin:20px auto;
				width: 80%;
      		}
		}
		
      	&.during-box {
      		text-align:center;
      	}

		h3 {
			background:$polimi-ciano;
			color:$gray-1;
			text-transform:uppercase;
			width:85%;
			margin-top:10px;
			position:relative;
			left:-10px;
			padding-left:10px;
		}
		img {
			@include inline-block;
  			max-width:80%;
  			margin:flex-gutter();
		}
	}



}
