%bg-before {
    background-color: $color-classification-before;
}
%bg-during {
    background-color: $color-classification-during;
}
%bg-after {
    background-color: $color-classification-after;
}
%bg-teachers {
    background-color: $color-classification-teachers;
}
%bg-citizens {
    background-color: $color-classification-citizens;
}
%bg-researchers {
    background-color: $color-classification-researchers;
}
@mixin classification-span-bg-color($classification) {
  &.classification-#{$classification} {
    @extend %bg-#{$classification};
    text-align: left;
    padding-left: 15px;
    display: block;
    box-shadow: 0 1px 8px 0px rgba(0,0,0,0.4);
    position: relative;
    z-index: 2;
  }
}
