/****************************************************************************************************
*   Extend base/base
*
*   Theme css are loaded after base/base but some customization is needed. Use extra-selectors to do it!
*
****************************************************************************************************/
// SEt basic color 
html, button, input, select, textarea { color:$base-font-color}
// Change font serif to sans-serif for all paragraph. This can be deleted after picked better serif font (not Yanone as Polimi site?) 
html {
	.static-container ol li, .static-container ul li {
		font-family:$sans-serif;
	}
	p {
	  	font: normal 1em/1.6em $sans-serif;
	}
    p a , a {
	  	font-family:$sans-serif;
	  	
	  	&:visited,&:link {
	  		font-family:$sans-serif;
	  	}
	}
}


//reset edx setting
.course-info .details {
	font-family:$sans-serif;
}


// Set font for navigation link as $serif (??). This can be deleted after picked better serif font (not Yanone as Polimi site?)

header.global .nav-global li a , .wrapper-footer footer .colophon .nav-colophon li a , header.global .nav-courseware li .cta { 
   font-family:$serif;
   @include font-size(21);
   @include line-height(21);
}

.is-hidden {
 display:none;
}
// style for multiple language together (it e en) : shame!!!
.it {
font-style:normal;
color:inherit
}
.en {
font-style:italic;
color:inherit;
}
.locale-separator {
margin-left:3px;
margin-right:3px;
}


// general link as button
.link2button {
	@extend %btn-primary-blue;
	color:$gray-1;
	display:block;
	background-color:$polimi-ciano;
}