.content-wrapper div.info-wrapper {
	section.updates h1 {
 		display:none;
 	}
 
    section.handouts {
    	display:none;
    }

	.pok-course-info-wrapper {
		
	   section {
	   		margin-bottom:lh() + lh();
	   }
	   section h2 { 
		 	font-size:1.4em;
		 	padding-left:0;
		 	
	 	}
		
		section.pok-course-info h2 {
			background: $gray-3 url('../themes/polimix/images/ico_info.png') 5px center no-repeat;
			padding:5px 5px 5px 38px;
		}
		section.pok-course-grading h2 {
			background: $gray-3 url('../themes/polimix/images/ico_quiz.png') 5px center no-repeat;
			padding:5px 5px 5px 38px;
		}
		section.pok-course-forum h2 {
			background: $gray-3 url('../themes/polimix/images/ico_forum.png') 5px center no-repeat;
			padding:5px 5px 5px 38px;
		}
		section.pok-course-prerequisiti h2 {
			background: $gray-3 url('../themes/polimix/images/ico_prerequisiti.png') 5px center no-repeat;
			padding:5px 5px 5px 38px;
		}
		section.pok-course-docente h2 {
			background: $gray-3 url('../themes/polimix/images/ico_docente.png') 5px center no-repeat;
			padding:5px 5px 5px 38px;
		}
	
	}

}