html .find-courses > header.search {
  height: 650px;
  .inner-wrapper {
    padding-top: 320px;
  }
}

body.view-incourse.polimix-theme {
  background-color: $gray-3;
}

.view-courses .content-wrapper {
  position: relative;
  top: -110px;
}

/*** Course list ***/
html .highlighted-courses .courses,
html .find-courses .courses {
  .course {
    .info .desc {
      font-size: .90em;
    }
    .status {
      top: -11px;
      left: 83%;
      border-radius: 0;
      background: $red;
      &:after {
        right: -9px;
        width: 0;
        height: 0;
        border-width: 10px 0 0 10px;
        border-style: inset;
        border-color: transparent transparent transparent shade($red, 50%);
        /* altrimenti #690002*/
      }
    }
    .status.enrollment {
      left: 2%;
      background: $red;
      @include transform(rotate(0deg));
      &:after {
        position: absolute;
        top: 0;
        right: -9px;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-right: 6px solid transparent;
        border-bottom: 6px solid shade($red, 50%);
      }
      &:before {
        display: none;
      }
    }
    header.course-preview {
      .info-link {
        color: $gray-1;
        background: $polimi-ciano;
      }
      &:hover,
      &:focus {
        .info-link {
          color: $polimi-ciano;
          background: $gray-1;
        }
      }
    }
  }
}

/** About Course **/
.short-desc {
  font-size: 1.5em;
  line-height: 1.4;
  margin-top: 10px;
}

.aunica-warning {
  padding: 10px;
  color: $polimi-ciano;
  border: 1px solid $polimi-ciano;
  p {
    margin-bottom: 0;
    color: $polimi-ciano;
  }
}

.closing-warning {
  padding: 10px;
  border: 1px solid $error-red;
  h3 {
    padding: 0 10px;
    text-transform: uppercase;
    color: $error-red;
  }
  p {
    margin-bottom: 0;
    padding: 0 10px;
  }
}

.course-info .container {
  box-sizing: border-box;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register {
  color: $polimi-ciano;
  border: 1px solid $polimi-ciano;
  background-color: #e4ffff;
}

.course-info .course-sidebar {
  .course-summary {
    background: $gray-0;
    header::after {
      background-image: linear-gradient($black 0%, $black);
    }
    .important-dates li {
      border-bottom: 1px dotted $black;
    }
  }
}

@include legenda-corsi("find-courses > header");
