.content-wrapper div.info-wrapper {
  section.updates h1 {
    display: none;
  }
  section.handouts {
    display: none;
  }
  .pok-course-info-wrapper {
    section {
      margin-bottom: lh() + lh();
    }
    section h2 {
      font-size: 1.4em;
      padding-left: 0;
    }
    section.pok-course-info h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_info.png") 5px center no-repeat;
    }
    section.pok-course-grading h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_quiz.png") 5px center no-repeat;
    }
    section.pok-course-forum h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_forum.png") 5px center no-repeat;
    }
    section.pok-course-prerequisiti h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_prerequisiti.png") 5px center no-repeat;
    }
    section.pok-course-docente h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_docente.png") 5px center no-repeat;
    }
    section.pok-course-approfondimento h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_approfondimento.png") 5px center no-repeat;
    }
    section.pok-course-sottotitoli h2 {
      padding: 5px 5px 5px 38px;
      background: $gray-3 url("../themes/polimix/images/ico_sottotitoli.png") 5px center no-repeat;
    }
  }
}

.content-wrapper .course-index div#accordion ul.ui-accordion-content li {
  &.graded {
    > a {
      background-image: url("../themes/polimix/images/graded.png");
      background-repeat: no-repeat;
      background-position: 97% center;
      img {
        //nasconde sveglia
        display: none;
        visibility: hidden;
      }
    }
    &.active > a {
      background-repeat: no-repeat;
      background-position: 97% center;
      @include background-image(url("../themes/polimix/images/graded.png"), linear-gradient(top, #e6e6e6, #d6d6d6));
      img {
        //nasconde sveglia
        display: none;
        visibility: hidden;
      }
    }
  }
}

.content-wrapper section.tutorial {
  margin: 0 auto;
  text-align: center;
}

// doc page inside courseware
.content-wrapper .course-staff {
  .teacher {
    margin-bottom: 40px;
    @include clearfix;
  }
  .teacher-image {
    float: left;
    overflow: hidden;
    width: 115px;
    height: 115px;
    margin: 0 30px 0 0;
    padding: 1px;
  }
}
