.view-register {
	.register {
		aside .already-registered h3 , aside .aunica-login h3 {
			color:$polimi-ciano;
		}
		
		.field .it {
			display:block;
		}
		.link2button {
			display:block;
			color:$gray-1;
		}
	
	}
	
}





