/****************************************************************************************************
*   Extend base/base
*
*   Theme css are loaded after base/base but some customization is needed. Use extra-selectors to do it!
*
****************************************************************************************************/
// SEt basic color
html,
button,
input,
select,
textarea {
  color: $base-font-color;
}

// Change font serif to sans-serif for all paragraph. This can be deleted after picked better serif font (not Yanone as Polimi site?)
html {
  .static-container ol li,
  .static-container ul li {
    font-family: $sans-serif;
  }
  p {
    font: normal (1em / 1.6em);
    font-family: $sans-serif;
  }
  p a,
  a {
    font-family: $sans-serif;
    &:visited,
    &:link {
      font-family: $sans-serif;
    }
  }
  textarea,
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel'] {
    font-family: $sans-serif;
  }
}

//reset edx setting
.course-info .details {
  font-family: $sans-serif;
}

// Set font for navigation link as $serif (??). This can be deleted after picked better serif font (not Yanone as Polimi site?)

header.global .nav-global li a,
.wrapper-footer footer .colophon .nav-colophon li a,
header.global .nav-courseware li .cta {
  font-family: $serif;
  @include font-size(21);
  @include line-height(21);
}

.is-hidden {
  display: none;
}

// style for multiple language together (it e en) : shame!!!
.it {
  font-style: normal;
  color: inherit;
}

.en {
  font-style: italic;
  color: inherit;
}

.locale-separator {
  margin-right: 3px;
  margin-left: 3px;
}

.modal span.it,
.tip.tip-input span.it {
  display: block;
}

.modal #change_email_title span.it,
.modal #change-name-title span.it {
  display: inline;
}

// general link as button
.link2button {
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: $gray-1;
  background-color: $polimi-ciano;
}

@mixin legenda-corsi($parent-selector) {
  .#{$parent-selector} {
    .legend-wrapper {
      position: relative;
      min-width: 760px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 150px 10px 0;
      @include clearfix;
    }
    .title.legend-course-level {
      width: 100%;
      height: 60px;
      min-height: 20px;
      //flex-grid(6) + flex-gutter() + flex-grid(2) + flex-gutter(); //the size of .title + the size of .media to mantain alignment
      margin-left: 0;
      opacity: $home-opacity;
      border: 1px solid $white;
      background: $gray-1;
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.5);
      @include box-sizing(border-box);
      ul {
        font-size: .9em;
        height: 60px;
        margin: .5em auto;
        padding-left: 2.3em;
        list-style: none;
        @include clearfix;
        li {
          font-weight: 900;
          display: inline;
          float: left;
          width: flex-grid(4);
          span {
            padding-right: 5px;
          }
        }
      }
    }
  }
}
