/*** Navigation ***/

@mixin current-page($page-selector,$link-selector,$selected-color){
	 .#{$page-selector} {
	 
	 	header.global li.#{$link-selector} a {
	 		border-bottom:1px $selected-color solid;
	 		
	 		&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $selected-color;
				right: 43%;
				top: 100%;
			}
	 	}
	 	
	 }
}

header.global .nav-global li a.cta-register , .view-register .nav-global-04 a{

	color:$gray-d3 !important;  // importa in edx source file! Need to remove at origin
}

@include current-page("view-register","nav-global-04",$polimi-ciano);
@include current-page("view-about","nav-global-01",$polimi-ciano);
@include current-page("view-courses","nav-global-02",$polimi-ciano);
