.container.about, section.about.outside-app {
	padding:0 30px 20px 30px;
	width:auto;
}

.container.about {
  	font-family:$sans-serif;
  	letter-spacing: 1px;
  	-webkit-font-smoothing: antialiased;
	
	img {
      display: block;
      width: 100%;
	}
	#banner {
		position: relative;
		 
	}
	.media {
      background: #FFF;
      border: 1px solid $border-color-3;
      border-left: 0;
      @include box-sizing(border-box);
      // box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.5);
      height: 120px;
      //float: right;
      position: absolute;
      top:60%;
      vertical-align: top;
      width: flex-grid(2,10) + flex-gutter();
      z-index: 10;
	  @extend .animation-harvard-slide;
	      &:hover, &:focus {
	        text-decoration: underline;
	      }

	      .hero {
	        height: 100%;
	        overflow: hidden;
	        position: relative;
	        background: $white url($pok-logo-ciano-url) left no-repeat;
	
	      }
     }
     .vision {
     	text-align:center;
     	position:relative;
     	top:-30px;
     	background-color: $black;
     	opacity:$home-opacity;
     	.sub {
     		font-size:1.3em;
     		color:$gray-1;
     	}
     }
     .intro-lego {
     	font-size:2em;
     	color:$polimi-ciano;
     	text-align:center;
     	padding:10px 0;
     }
	.boxes-wrapper {
		margin:0 auto;
		text-align:center;
	}
	.box {
		float:left;
		width:flex-grid(2,6);
		margin-left: flex-gutter(6);
		
		.inner-box {
			min-height:400px;	
			padding-top:10px;
			background: #fff;
			@include box-sizing(border-box);
      		box-shadow: 0 1px 10px 0 rgba(0,0,0, 0.15), inset 0 0 0 1px rgba(255,255,255, 0.9);
      		margin:0 auto;
      		p {
      			
      			text-align:left;
				margin:20px auto;
				width: 80%;
				font-size:1.3em;
 				min-height: 175px; // 5 lines 
      		}
		}
		&.before-box {
			margin-left:0;
		}
      	

		h3 {
			font-size:2.2em;
			line-height:1.6em;
			background:$polimi-ciano;
			color:$gray-1;
			text-transform:uppercase;
			width:90%;
			margin-top:10px;
			position:relative;
			left:-10px;
			padding-left:48px;
			text-align:left;
		}
		img {
			@include inline-block;
  			max-width:80%;
  			margin:flex-gutter();
  			margin-bottom:30px;
  			border:1px solid #efefef;
		}
	}



}
