$home-opacity:0.92 ;
/*** Set opacity background banner ***/

.index-page {
     #polimi-header {
     	position:relative;
     	z-index:10;
     	opacity:1 ;
     } 
	.content-wrapper {
		position:relative;
		top:-110px;
	}
}
header.global {
  height:80px;
  opacity:$home-opacity ;
  .nav-global li a {
   color:$link-color;
  }
  h1.logo {
  	margin:-10px 39px 0px 0px;
   	a {
		img {
			height:80px;
		}
  	}
  }
  nav {
  	padding:10px 10px 0;
  	height:70px;
  }
  
  &.slim {
  	nav {
  		height:60px;
  	}
  	h1.logo img {
  		height:60px;
  	}
  }
}

.home > header {
	height:650px ;
	.outer-wrapper {
		padding-top: 320px;
	}
	.title {
		opacity:$home-opacity ;
		width: flex-grid(6);
		//margin-left: flex-grid(2);
	}
	.title > hgroup {
		width:100%;
		padding:20px 10px;
		 h1 {
		  color: $polimi-ciano ;
		  font-weight:700;
		  font-size: 2.5em/1.4em ;
		  text-align:center;
		 }
		 h2 {
			text-transform: initial ;
			text-align: right;
			font-style:normal;
		}
	}
	.media .hero {
		 background: $polimi-ciano url($video-thumb-url);
		 background-size:cover;
	}
}