@media screen and (max-width: $desktop-small + $gw-gutter) {
	@include mobile("responsive", $desktop-small);
	.home > header {
		.title {
			width: flex-grid(7);
			margin-left: flex-grid(2);
		}
	}
	
	.container.about {
	 	.media {
			top:0;
		}
		.box .inner-box p {
			min-height:200px;
		}
	}
	
}
