@mixin mobile($selector, $width) {
	//.#{$selector} {
		.content-wrapper .container, header.global, header.global nav, .wrapper-footer footer, .home>header .outer-wrapper, .container.about {
			max-width: $width;
			margin-left: 0;
			margin-right: 0;
			padding-left:0;
			padding-right:0;
		}
		img,
		select,
		input {
			max-width:$width;
		}	
	//}
}

@import "responsive-desktop-small-max";
@import "responsive-mobile-large-max";
//@import "responsive-mobile-medium-max";
//@import "responsive-mobile-small-max";
