@media screen and (max-width: $mobile-medium + $gw-gutter) {
  @include mobile("responsive", $mobile-medium);

  header.global .nav-global li , header.global .nav-global div {
    margin: 0;
  }
  //hide username with ignored size
  header.global .user a.user-link div {
    display: none ;
  }
  .polimix-theme {
    .home > header {
      .outer-wrapper  .title {
          width: 100%;
      }
      .media {
        display: none;
      }
    }

    .content-wrapper section.container {
      &.login , &.register {
        section.content {
          float: none;
          width:100%;
        }
        aside {
          float: none;
          width: 100%;
        }
      }
      &.dashboard {
        .my-courses {
          width: 100%;
          float: none;
        }
        .profile-sidebar {
          display: none;
        }
      }

    }

  }
}
