@media screen and (max-width: $mobile-large + $gw-gutter) {
	@include mobile("responsive", $mobile-large);
	.home > header {
		.title {
			width: flex-grid(8);
			margin-left: flex-grid(1);
		}
		.media .hero {
			background-size:contain;
			background-repeat:no-repeat;
			background-position:center;
		}
	}
	
	
	.container.about {
		font-size:0.9em;
	 	.media {
			.hero {
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
			}
		}
		.vision {
			top:-60px // goes on 2 lines
		}
	}
}
@media screen and (max-width: $ipad-portrait + $gw-gutter) {
	@include mobile("responsive", $ipad-portrait);
}