@media screen and (min-width: $desktop-large) {
	
	.home > header .title > hgroup h1 {
		font-size:3.4em;
	} 
	
	.home > header .title.legend-course-level {
		width:flex-grid(6) + flex-gutter() + flex-grid(2) + flex-gutter(); //the size of .title + the size of .media to mantain alignment
		margin-left:grid-width(2) + $gw-gutter;
	}
	
	.course-info .container {
		box-sizing: content-box;
	}
	
	.container.about .box .inner-box p {
		min-height: 9em;
		
		&.from-to {
			min-height:2em;
		}
	
	}
}