@mixin mobile($selector, $width) {
  //.#{$selector} {
  #polimi-header,
  .polimi-container,
  header.global,
  header.global nav,
  .content-wrapper,
  .wrapper-footer,
  #polimi-footer {
    max-width: $width - $baseline;
    //margin:0 ($baseline / 2) 0 ($baseline / 2);

  }
  header.global nav,
  .wrapper-footer footer,
  content-wrapper section.container {
    // contain float right element reducing min-width (760px in original version)
    min-width: $width - $width / 4;
  }
  .content-wrapper section {
    /*selector with class needed to override default edx css*/
    &.introduction,
    &.intro-polimi,
    &.container,
    &.home,
    &.about {
      max-width: $width - $baseline;
      margin-right: 0;
      margin-left: 0;
    }
  }
  html body .wrapper-footer footer {
    max-width: $width - $baseline;
    margin-right: 0;
    margin-left: 0;
  }
  img,
  select,
  input {
    max-width: $width - $baseline;
  }
  //}
}

@import "responsive-desktop-large-min";
@import "responsive-desktop-small-max";
@import "responsive-mobile-large-max";
@import "responsive-mobile-medium-max";
//@import "responsive-mobile-small-max";
