<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="title">
<title>About ${_("{platform_name}").format(platform_name=settings.PLATFORM_NAME)}</title>
</%block>
 <%block name="bodyclass">view-about</%block>
<section class="container about">
	<section class="banner">
		<div id="banner">
			<img src="${static.url('images/banner_about.jpg')}"
				class="jpg" alt="">
			<div class="media">
				<div class="hero">
					<div class="no-play-intro"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="lego">
		<p class="intro-lego">MOOCs to bridge the gaps ...</p>
    <p>Polimi Open Knowledge is the MOOC programme of Politecnico di Milano.</p>
		<div class="boxes-wrapper">
			<div class="box students-box ">
				<div class="inner-box">
					<ul>
            <li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon01.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-bachelor">MOOCs for Bachelor of science</h4>
                      <p>Improve your preparation for Bachelor of Science or consolidate your high school skills before starting your courses at Politecnico di Milano.</p>
                    </div>
                </div>
              </article>
            </li><li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon02.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-master">MOOCs for Master of science</h4>
                      <p>Improve your preparation for Master of Science or align your skills to the ones required by Politecnico di Milano.</p>
                    </div>
                </div>
              </article>
            </li><li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon06.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-researchers">MOOCs for Researchers</h4>
                      <p>To support researchers to develop transversal skills useful for their activities.</p>
                    </div>
                </div>
              </article>
            </li>
          </ul>
				</div>

			</div>
			<div class="box all-box ">
				<div class="inner-box">
          <ul>
            <li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon03b.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-job">MOOCs for Professionals</h4>
                      <p>Strengthen your specific technical skills in innovative professional areas and enhance your soft skills to smooth your step into and within the job scene.</p>
                    </div>
                </div>
              </article>
            </li>
            <li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon05.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-teachers">MOOCs for Teachers</h4>
                      <p>To support teaching and learning innovation in both Higher Education institutions and schools.</p>
                    </div>
                </div>
              </article>
            </li>
            <li>
              <article class="card-horizontal">
                <div class="card-row">
                    <div class="card-col-image">
                      <img src="${static.url('images/icon04.png')}"
          								class="jpg" alt="">
                    </div>
                    <div class="card-col-content">
                      <h4 class="classification-citizens">MOOCs for Citizens</h4>
                      <p>Explore global challenges and citizenship issues through the courses developed in the context of the third mission of Politecnico di Milano.</p>
                    </div>
                </div>
              </article>
            </li>
          </ul>
				</div>
			</div>

		</div>

	</section>
</section>
