<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Faq</title></%block>

<section class="container faq">

    <h2 class="first">Domande frequenti – Italiano</h2>
    <p><i>Please scroll down if you are looking for the English version.</i></p>
    <ol class="faqit">
      <h3><span>Informazioni generali</span></h3>
      <li id="d1">
        <div class="accordion" tabindex="1"><h4>Cosa significa POK?</h4></div>
        <div class="panel">
          <p>POK sta per Polimi Open Knowledge: si tratta del portale di MOOC (Massive Online Open Courses) del Politecnico di Milano che ha preso avvio nel 2014.</p>
          <p>Lo slogan di POK è “MOOCs to bridge the gaps”: esso esprime quindi la strategia adottata dal Politecnico per:</p>
          <ul>
            <li><strong>supportare gli studenti nelle varie fasi della loro carriera</strong>;</li>
            <li><strong>promuovere l’innovazione didattica per i docenti</strong>;</li>
            <li><strong>promuovere una cittadinanza consapevole</strong>.</li>
          </ul>
          <p>In questa ottica sono stati individuati 6 filoni: scopri quello più adatto a te!</p>
        </div>
      </li>
      <li id="d2">
        <div class="accordion" tabindex="1"><h4>Come funziona POK?</h4></div>
        <div class="panel">
          <p>I corsi online disponibili su POK <strong>sono gratuiti e aperti a tutti</strong>.</p>
          <p>Per frequentare un corso è necessario:</p>
          <ul>
            <li>creare il proprio account (<a href="#d6">6. Come faccio a creare un account?</a>);</li>
            <li>attivare il proprio account (<a href="#d7">7. Come posso attivare il mio account?</a>);</li>
            <li>iscriversi al corso prescelto (<a href="#d11">11. Come faccio a iscrivermi a un corso?</a>).</li>
          </ul>
          <p>Ogni corso di POK ha una <strong>data di inizio</strong> e una <strong>data di conclusione</strong> (<a href="#d13">13. Quando iniziano i corsi?</a>) indicate nella pagina di iscrizione al corso. In questa pagina si possono trovare, inoltre, la descrizione del corso, la sua durata e i requisiti necessari per potervi accedere.</p>
          <p>Una volta che il corso è iniziato, è possibile seguirlo in qualsiasi momento, come e dove si vuole.</p>
          <p><strong>Dopo la fine del corso tutti i materiali rimangono a disposizione, ma non è possibile completare i quiz perché i risultati ottenuti nei quiz dopo la fine del corso non vengono presi in considerazione nella valutazione finale e per l’attestato</strong>. Nel caso accada che un utente non abbia completato i quiz e raggiunto la valutazione minima, può attendere l’edizione successiva per ottenere l’attestato.</p>
        </div>
      </li>
      <li id="d3">
        <div class="accordion" tabindex="1"><h4>Qual è la lingua usata nei corsi?</h4></div>
        <div class="panel">
          <p>Dipende dai corsi! Alcuni sono solo in italiano, alcuni solo in inglese; altri sono disponibili sia nell’edizione in italiano, sia in quella in inglese. La lingua del corso viene segnalata dalla bandierina sull’immagine di anteprima dei corsi nella home page di POK e viene indicata nella pagina di descrizione del corso.</p>
        </div>
      </li>
      <li id="d4">
        <div class="accordion" tabindex="1"><h4>Quale browser devo usare?</h4></div>
        <div class="panel">
          <p>Si consiglia l’uso dei browser Chrome e Firefox aggiornati alle ultime versioni e con supporto Javascript abilitato.</p>
        </div>
      </li>
      <li id="d5">
        <div class="accordion" tabindex="1"><h4>Posso accedere ai corsi POK con smartphone e tablet?</h4></div>
        <div class="panel">
          <p>In questo momento non tutte le funzioni della piattaforma sono supportate per l’accesso da mobile.</p>
        </div>
      </li>

      <h3><span>Registrazione e account</span></h3>
      <li id="d6">
        <div class="accordion" tabindex="1"><h4>Come faccio a creare un account?</h4></div>
        <div class="panel">
          <p>Siamo lieti di sapere che vuoi aderire a Polimi Open Knowledge!</p>
          <ul>
            <li>Se sei <strong>uno studente, un docente, un ricercatore, un dipendente o un collaboratore del Politecnico</strong> e possiedi un <strong>codice persona</strong>, devi accedere
             inserendo le credenziali (username e password) che utilizzi per gli altri servizi online dell’Ateneo.</li>
            <li>Se <strong>hai intenzione di iscriverti al Politecnico</strong>, devi creare fin da subito un account personale al Politecnico attivandolo su <a href="https://aunicalogin.polimi.it/aunicalogin/">Aunica</a>.</li>
            <li>Se <strong>non possiedi le credenziali Politecnico</strong>, puoi creare un account POK, in modo semplice e gratuito. Nella pagina “Register now” ti verranno richieste le seguenti informazioni: il tuo indirizzo email, il tuo nome completo (il nome che desideri compaia sugli attestati) e le credenziali di accesso: un nome utente e una password.</li>
          </ul>
        </div>
      </li>
      <li id="d7">
        <div class="accordion" tabindex="1"><h4>Come posso attivare il mio account?</h4></div>
        <div class="panel">
          <p>Dopo aver creato il tuo account, devi <strong>attivarlo seguendo il link contenuto in una mail che riceverai</strong> in seguito alla registrazione. Se non ricevi la mail di attivazione entro pochi minuti prova a controllare che non sia nella cartella della posta indesiderata. Se si trova nella posta indesiderata, contrassegnala come posta da recapitare nella tua casella principale. Non dimenticare di cliccare sul link per attivare il tuo account.</p>
          <p>Se non ricevi la mail di conferma, contatta <a href="mailto:pok@polimi.it">pok@polimi.it</a> che si metterà in contatto con te il prima possibile.</p>
          <p>Se hai un account Politecnico l’attivazione non è necessaria.</p>
        </div>
      </li>
      <li id="d8">
        <div class="accordion" tabindex="1"><h4>Come posso modificare la password?</h4></div>
        <div class="panel">
          <p>Se hai un <strong>account Politecnico</strong> (Aunica login) ogni modifica deve essere fatta attraverso la pagina dei <a href="https://www.polimi.it/servizi-online/">Servizi Online</a> del Politecnico.</p>
          <p>Se hai un <strong>account POK</strong>, collegati al portale con le tue credenziali, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la voce “Account”: si apre una pagina all’interno della quale trovi “Reset Your Password”.</p>
        </div>
      </li>
      <li id="d9">
        <div class="accordion" tabindex="1"><h4>Ho dimenticato la password, cosa devo fare?</h4></div>
        <div class="panel">
          <p>Se hai un <strong>account Politecnico</strong> (Aunica login) ogni modifica deve essere fatta attraverso la pagina dei <a href="https://www.polimi.it/servizi-online/">Servizi Online</a> del Politecnico.</p>
          <p>Se hai un <strong>account POK</strong> e hai dimenticato la password puoi facilmente generarne una nuova utilizzando, nella pagina di <a href="https://www.pok.polimi.it/login">Login</a>, il link “Forgot password?”. Riceverai entro pochi minuti una mail con un link di reset password (controlla anche nello spam se non la ricevi subito!).</p>
        </div>
      </li>
      <li id="d10">
        <div class="accordion" tabindex="1"><h4>Posso modificare i miei dati personali?</h4></div>
        <div class="panel">
          <p>Puoi <strong>facilmente modificare il tuo indirizzo email e tutte le altre informazioni</strong> che hai fornito al momento della registrazione, fatta eccezione per il tuo <strong>nome utente (username)</strong>, che è quello che compare nelle discussioni. Una volta fatta la registrazione non può più essere cambiato, quindi va scelto con cura. Per modificare gli altri dati, collegati al portale con le tue credenziali, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la voce “Account”: si apre una pagina all’interno della quale ci sono dei campi modificabili.</p>
        </div>
      </li>

      <h3><span>Iscrizione a un corso</span></h3>
      <li id="d11">
        <div class="accordion" tabindex="1"><h4>Come faccio a iscrivermi a un corso?</h4></div>
        <div class="panel">
          <p>Una volta che è avvenuta l’iscrizione al portale e che è stato effettuato il login, puoi facilmente iscriverti a uno o più corsi. Scegli <strong>“Find Courses”</strong> (in alto a sinistra) per visualizzare l’<a href="https://www.pok.polimi.it/courses">elenco dei corsi disponibili</a>. Una volta che avrai effettuato l’iscrizione, il corso verrà aggiunto alla tua Dashboard, nella quale lo troverai in seguito.</p>
        </div>
      </li>
      <li id="d12">
        <div class="accordion" tabindex="1"><h4>Quanto costa iscriversi a un corso?</h4></div>
        <div class="panel">
          <p>Tutti i corsi disponibili su POK sono <strong>gratuiti</strong>.</p>
        </div>
      </li>
      <li id="d13">
        <div class="accordion" tabindex="1"><h4>Quando iniziano i corsi?</h4></div>
        <div class="panel">
          <p>Le <strong>date di inizio e fine corso</strong> sono indicate nella pagina di descrizione di ogni corso. Nella pagina <a href="https://www.pok.polimi.it/courses">Courses</a> trovi l’elenco di tutti i corsi, con la data di inizio della prima edizione in partenza. Se clicchi sul corso che ti interessa si apre una pagina con la descrizione del corso e, sulla destra, una tabella riepilogativa con le informazioni principali: date di inizio e fine, impegno richiesto, lingua di erogazione, filone di appartenenza.</p>
          <p>Puoi iscriverti a un corso prima della data di inizio, ma non potrai accedere ai contenuti prima della sua partenza.</p>
        </div>
      </li>
      <li id="d14">
        <div class="accordion" tabindex="1"><h4>Posso iscrivermi a un corso già iniziato?</h4></div>
        <div class="panel">
          <p>Sì, è possibile iscriversi ad un corso in qualsiasi momento, ma se sono previste esercitazioni con valutazione o attività di peer-assessment – e queste sono già concluse – non è più possibile parteciparvi.</p>
          <p>Tutti i corsi di POK hanno più edizioni all’anno; nella maggior parte dei casi la nuova edizione apre subito dopo la chiusura della precedente.</p>
        </div>
      </li>
      <li id="d15">
        <div class="accordion" tabindex="1"><h4>Quando ci sarà una nuova edizione del corso che mi interessa?</h4></div>
        <div class="panel">
          <p>Tutti i corsi disponibili su POK vengono erogati <strong>più volte durante l’anno</strong>. Nella maggior parte dei casi la nuova edizione apre subito dopo la chiusura della precedente. Consulta il portale per tenerti aggiornato!</p>
        </div>
      </li>
      <li id="d15b">
        <div class="accordion" tabindex="1"><h4>Come posso disiscrivermi da un corso?</h4></div>
        <div class="panel">
          <p>L’opzione per disiscriversi dai corsi si trova nella Dashboard. Sotto il titolo di ogni corso si trova l’icona di un ingranaggio, che puoi attivare per aprire un menu di opzioni. Scegliendo “Unenroll” il corso non risulterà più nell’elenco dei tuoi corsi e non riceverai più comunicazioni che lo riguardano.</p>
        </div>
      </li>

      <h3><span>Attività di un corso</span></h3>
      <li id="d16">
        <div class="accordion" tabindex="1"><h4>Dove trovo le lezioni e le attività da svolgere?</h4></div>
        <div class="panel">
          <p>Puoi raggiungere il corso partendo dalla tua <strong>dashboard</strong>: per entrare clicca sul nome del corso o sul pulsante <strong>“View course”</strong>. Una volta dentro il corso puoi muoverti liberamente tra la pagina con le informazioni principali (<strong>Home</strong>), l’elenco delle lezioni e delle attività (<strong>Course</strong>), le discussioni su forum (<strong>Discussion</strong>) e le statistiche relative alle tue attività di fruizione dei contenuti (<strong>Progress</strong>). In particolare, nella pagina <strong>Course</strong> troverai l’indice dei contenuti; all’interno del singolo modulo potrai spostarti tra le lezioni e passare ai moduli precedente o successivo.</p>
        </div>
      </li>
      <li id="d17">
        <div class="accordion" tabindex="1"><h4>Nei quiz, come faccio a inviare la mia risposta?</h4></div>
        <div class="panel">
          <p>Per inviare una risposta devi usare il pulsante <strong>“Submit”</strong> posto sotto ogni singola domanda. Se non sei pronto ad inviare la risposta e preferisci rivedere i contenuti della lezione, usa il pulsante <strong>“Save”</strong> e la tua risposta verrà memorizzata, ma non sarà inviata.</p>
          <p>Di solito vi è un numero limitato di tentativi possibili per inviare una risposta. In alcuni casi, una volta che hai utilizzato tutti i tentativi possibili o hai risposto correttamente, compare una spiegazione della risposta.</p>
          <p>Se devi inserire una formula matematica o dei simboli speciali, consulta i suggerimenti dei docenti nella pagina iniziale del corso, nella week 0 o all’inizio dell’esercizio.</p>
        </div>
      </li>

      <h3><span>Attestato di Partecipazione</span></h3>
      <li id="d18">
        <div class="accordion" tabindex="1"><h4>In cosa consiste l’Attestato di Partecipazione?</h4></div>
        <div class="panel">
          <p>Puoi ricevere un Attestato di Partecipazione se hai raggiunto i requisiti minimi richiesti. I requisiti minimi sono esplicitati nella pagina di descrizione del corso in oggetto e generalmente consistono nel raggiungimento di almeno il 60% di risposte corrette dei quiz.</p>
          <p>NOTA: l’Attestato di Partecipazione non è un certificato ufficiale e non attesta la partecipazione a corsi dell’Ateneo, quindi non dà diritto a crediti universitari né a voti o diplomi.</p>
        </div>
      </li>
      <li id="d19">
        <div class="accordion" tabindex="1"><h4>Come faccio ad ottenere l’Attestato di Partecipazione?</h4></div>
        <div class="panel">
          <p>L’Attestato può essere scaricato direttamente dalla Dashboard.</p>
          <p>Per alcuni MOOC l’attestato si può scaricare solo al termine dell’edizione; qualche giorno dopo il termine del corso riceverai una mail con tutte le informazioni a questo riguardo.</p>
          <p>Per altri MOOC è possibile invece richiedere l'Attestato non appena si è completato il corso; è sufficiente andare nella pagina “Progress” e richiederlo. L’Attestato può essere richiesto una sola volta e può essere creato solo nel periodo di apertura del corso (se hai superato il corso, ma non hai richiesto l’Attestato, ti verrà comunque generato automaticamente alla chiusura del corso).</p>
          <p>Controlla nella “Home” del singolo MOOC come e quando ottenere l’Attestato.</p>
        </div>
      </li>
      <li id="d20">
        <div class="accordion" tabindex="1"><h4>Quali informazioni riporta l’Attestato di Partecipazione?</h4></div>
        <div class="panel">
          <p>L’Attestato di Partecipazione riporta le seguenti informazioni:</p>
          <ul>
            <li>nome completo del partecipante, come inserito al momento della registrazione;</li>
            <li>titolo del corso;</li>
            <li>nome e firma del docente;</li>
            <li>data;</li>
            <li>loghi del Politecnico di Milano e di eventuali partner;</li>
            <li>codice che garantisce l’autenticità dell’attestato di partecipazione.</li>
          </ul>
        </div>
      </li>
      <li id="#d21">
        <div class="accordion" tabindex="1"><h4>Che nome compare sull’Attestato di Partecipazione?</h4></div>
        <div class="panel">
          <p>L’Attestato di Partecipazione riporta il nome completo fornito al momento della registrazione (“Full Name”).</p>
          <p>Se desideri cambiare il nome, prima della generazione dell’Attestato esegui l’accesso al portale, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la voce “Account”: si apre una pagina all’interno della quale trovi “Full Name”.</p>
        </div>
      </li>
      <li id="d22">
        <div class="accordion" tabindex="1"><h4>Il nome presente sul mio Attestato di Partecipazione non è corretto. Posso modificarlo?</h4></div>
        <div class="panel">
          <p>Sì: modifica il nome nei dettagli dell’account, poi torna alla tua Dashboard e seleziona “View Certificate”. Il nome sull’Attestato sarà aggiornato.</p>
        </div>
      </li>
    </ol>



    <h2>Frequently asked questions – English</h2>
    <ol class="faqen">
      <h3><span>General Information</span></h3>
      <li id="q1">
        <div class="accordion" tabindex="1"><h4>What does POK stand for?</h4></div>
        <div class="panel">
          <p>POK stands for Polimi Open Knowledge: it is an initiative of Politecnico di Milano, started in 2014, to develop MOOCs (Massive Online Open Courses).</p>
          <p>The POK slogan is “MOOCs to bridge the gaps”: it expresses the strategy adopted by Politecnico di Milano to:</p>
          <ul>
            <li><strong>support students during their career;</strong>;</li>
            <li><strong>promote teaching innovation</strong> in both higher education institutions and schools;</li>
            <li><strong>promote academic social responsibility</strong> (opening up the expertise of Politecnico di Milano for the benefit of a general audience, promoting conscious citizenship in compliance with the third mission of universities).</li>
          </ul>
          <p>To this end, we classified the courses by six thematic patterns.</p>
        </div>
      </li>
      <li id="q2">
        <div class="accordion" tabindex="1"><h4>How does POK work?</h4></div>
        <div class="panel">
          <p>Courses on POK are available online and free of charge.</p>
          <p>To take a course you need to:</p>
          <ul>
            <li>create your account (<a href="#q6">6. How can I create an account?</a>);</li>
            <li>activate it (<a href="#q7">7. How can I activate my account?</a>);</li>
            <li>enroll in one or more courses you are interested in (<a href="#q11">11. How do I enroll in a course?</a>).</li>
          </ul>
          <p>Each course on POK has a <strong>start date</strong> and an <strong>end date</strong> available on the registration page of the course itself (<a href="#q13">13. When does my course start?</a>).
             In this page, you may find some useful information such as the course description, the duration of the course itself, and the prerequisites needed to access it.</p>
          <p>Once a course starts, you may follow it whenever you like, at a pace that suits you.</p>
          <p><strong>After the end of the course, all the material will be still available, but the quizzes completed after the end of the course will not be graded</strong>, nor will you earn a Certificate of Accomplishment.
            Further editions will be scheduled on POK, so if you were not able to complete the course our suggestion is to enroll in the next edition.</p>
        </div>
      </li>
      <li id="q3">
        <div class="accordion" tabindex="1"><h4>In which language will the courses be taught?</h4></div>
        <div class="panel">
          <p>It depends on the course itself. Some of the courses are taught only in Italian, others only in English, others in both languages. A flag in the preview of the course and the description of the course give you this information.</p>
        </div>
      </li>
      <li id="q4">
        <div class="accordion" tabindex="1"><h4>What browsers are supported for use in POK courses?</h4></div>
        <div class="panel">
          <p>We recommend current versions of Chrome or Firefox.</p>
        </div>
      </li>
      <li id="q5">
        <div class="accordion" tabindex="1"><h4>Can I access POK courses on my smart phone or tablet computer?</h4></div>
        <div class="panel">
          <p>At this time, Open edX does not fully support access with mobile devices. While most components of your courses will function in the app or a mobile browser, some may not.</p>
        </div>
      </li>

      <h3><span>Registration and account</span></h3>
      <li id="q6">
        <div class="accordion" tabindex="1"><h4>How can I create an account?</h4></div>
        <div class="panel">
          <p>We are so happy you want to join Polimi Open Knowledge!</p>
          <ul>
            <li>If <strong>you are an institutional user of Politecnico di Milano</strong> (meaning you already have a personal code), you have to go to: POLIMI LOGIN and use
              the credentials you normally use to access to Politecnico di Milano Online Services.</li>
            <li>If <strong>you are planning to study at Politecnico di Milano</strong>, you have to create your personal Politecnico di Milano account by activating it on
              <a href="https://aunicalogin.polimi.it/aunicalogin/">Aunica</a>.</li>
            <li>If <strong>you do not have a Politecnico di Milano personal code</strong>,  you may create your POK account. Creation of an account is easy and free of charge! In the registration page you have to enter the following information: your e-mail address, your full names (as you would like them to appear on any Certificate you may earn), a unique username and a password of your choosing.
            </li>
          </ul>
        </div>
      </li>
      <li id="q7">
        <div class="accordion" tabindex="1"><h4>How can I activate my account?</h4></div>
        <div class="panel">
          <p>After creating your own account, you need to activate it by clicking on the link in the e-mail you receive. If you do not receive the confirmation message within a few minutes of signing up, please check your spam e-mail folder just in case the confirmation email went there instead of your inbox. If so, select the confirmation message and mark it Not Spam, which should allow future messages to get through. Do not forget to click the link in the confirmation message.</p>
          <p>In case you did not receive the e-mail, please contact <a href="mailto:pok@polimi.it">pok@polimi.it</a> and the staff will contact you as soon as possible in order to solve the problem.</p>
          <p>If you are logged in as a Politecnico di Milano user, you don’t need to activate your account.</p>
        </div>
      </li>
      <li id="q8">
        <div class="accordion" tabindex="1"><h4>How do I reset my password?</h4></div>
        <div class="panel">
          <p>If you are logged in as Politecnico di Milano user, your password is tied to your Politecnico di Milano account and any change must be done through <a href="https://www.polimi.it/en/online-services/">Online Services</a>.</p>
          <p>If you are not registered through your personal code and you are using an account created on POK, sign in to POK, then click the arrow by your username at the top right of the page and select Account. There is a Reset Password link on the Account page.</p>
        </div>
      </li>
      <li id="q9">
        <div class="accordion" tabindex="1"><h4>I forgot my password, what should I do?</h4></div>
        <div class="panel">
          <p>If you forget your password, you can easily generate a new one going on “Forgot password?”, in the <a href="https://www.pok.polimi.it/login">Login</a> page. You will receive an e-mail in a few minutes with a reset link (check Junk box, too!). If you are logged in as a Politecnico di Milano user your password is tied up to your Politecnico di Milano account and any change must be done through <a href="https://www.polimi.it/en/online-services/">Online Services</a>.</p>
        </div>
      </li>
      <li id="q10">
        <div class="accordion" tabindex="1"><h4>Can I modify my personal/account data?</h4></div>
        <div class="panel">
          <p>You can easily modify your e-mail address and all the other optional data you provided when registering with POK. Just log in to your account and click on the arrow next to your username at the top right of any page, then select Account. The only data you may not change is the <strong>username</strong>. Once you have registered your account and created your custom username, it is not possible to change it. Please note that your unique username displays in discussions you post or respond to, so choose it carefully.</p>
        </div>
      </li>

      <h3><span>Enrolling</span></h3>
      <li id="q11">
        <div class="accordion" tabindex="1"><h4>How do I enroll in a course?</h4></div>
        <div class="panel">
          <p>Once you have registered and logged into Polimi Open Knowledge you can easily and quickly register for one or more courses by clicking the <strong>“Find Courses”</strong> link at the top of the page. Once you enrolled in a course, it will be added to your Dashboard page, where you can access all the courses you are enrolled in.</p>
        </div>
      </li>
      <li id="q12">
        <div class="accordion" tabindex="1"><h4>How much do courses cost?</h4></div>
        <div class="panel">
          <p>All the courses offered on POK are <strong>free of charge</strong>.</p>
        </div>
      </li>
      <li id="q13">
        <div class="accordion" tabindex="1"><h4>When does my course start?</h4></div>
        <div class="panel">
          <p>The <strong>start and end date</strong> of the course are available on the About page of the course. To get there, click on the course name from <a href="https://www.pok.polimi.it/courses">Courses</a> page.</p>
          <p>In this page, you will find a lot of useful information: the duration of the course, the estimated effort, the prerequisites required for taking the course, information about instructors, and all the information about the general structure of the course.</p>
          <p>If you enroll in a course before it begins, you will not be able to get in until the Class Start date.</p>
        </div>
      </li>
      <li id="q14">
        <div class="accordion" tabindex="1"><h4>Can I enroll in a course already started?</h4></div>
        <div class="panel">
          <p>Yes, you can enroll in a course at any time, but if there are expected outcomes like peer assessment activities or due date for homework – and they have already passed – you would not be able to take part in them.</p>
          <p>All the courses available on POK are <strong>scheduled to re-open several times a year</strong>. For most of them the new edition is launched right immediately after the end of the old one, for the others the new edition re-open after only a few weeks.</p>
        </div>
      </li>
      <li id="q15">
        <div class="accordion" tabindex="1"><h4>When will these courses be offered again?</h4></div>
        <div class="panel">
          <p>All the courses available on POK are <strong>scheduled to re-open several times a year</strong>. For most of them the new edition is launched right immediately after the end of the old one, for the others the new edition re-open after only a few weeks. Keep yourself
            updated by checking POK periodically.</p>
        </div>
      </li>
      <li id="d15b">
        <div class="accordion" tabindex="1"><h4>How can I unenroll from a course?</h4></div>
        <div class="panel">
          <p>The option to unsubscribe from courses is in the Dashboard. Below the title of each course there is a gear icon: use it to open an options menu. By choosing "Unenroll" the course will no longer be on your course list and you will no longer receive communications regarding it.</p>
        </div>
      </li>

      <h3><span>Course activities</span></h3>
      <li id="q16">
        <div class="accordion" tabindex="1"><h4>Where are the lessons and assignments?</h4></div>
        <div class="panel">
          <p>Follow the “View Course” button on your <strong>Dashboard page</strong> and you will find the course. The course environment contains the <strong>Home</strong>, the <strong>Course</strong>, the <strong>Discussion</strong> and the <strong>Progress</strong> tabs at the top left of the page. In the Course page, you may see the table of contents; inside each module, you can move through the lessons and reach the previous or the next module.</p>
        </div>
      </li>
      <li id="q17">
        <div class="accordion" tabindex="1"><h4>How do I submit my answers?</h4></div>
        <div class="panel">
          <p>To <strong>submit your answer</strong> to a quiz, use the <strong>“Submit”</strong> button you find under each question.
            If you are not ready to submit your answer, just use the <strong>“Save”</strong> button, and your answer will not be submitted.</p>
          <p>Please note that there is generally a limit to the number of answers you may provide. Once you have used all the attempts available or you have given the right answer, an explanation might show up.</p>
          <p>If you need to write a mathematics formula or some special typos, please check the suggestions provided by the instructor in the course. These suggestions are generally included at the beginning of the course, in the course Information section, in the week 0 or at the beginning of the exercise itself.</p>
        </div>
      </li>

      <h3><span>Certificates of Accomplishment</span></h3>
      <li id="q18">
        <div class="accordion" tabindex="1"><h4>What is a Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>If you reached the passing grade, you will receive a Certificate of Accomplishment. The passing grade is expressly stated in the course information page, and the threshold is generally 60% of right quiz answers.</p>
          <p>NOTA: the Certificate of Accomplishment is not an official certificate and does not attest the participation in a course taken at the Politecnico di Milano or at another accredited partner institution, nor does it confer any academic credit, grade or degree.</p>
        </div>
      </li>
      <li id="q19">
        <div class="accordion" tabindex="1"><h4>How can I earn a Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>You can download the Certificate directly from your Dashboard.</p>
          <p>For some MOOCs, you can download the Certificate only at the end of the edition: some days after the end of the course, you will receive an e-mail with all the information on how to download it.</p>
          <p>Regarding other MOOCs, you can request the Certificate as soon as you complete the course, simply from your Progress Page. You can request the Certificate only once and just while the course is open (if you have successfully passed the course and you forgot to request the Certificate, it will be generated automatically at the end of the course).</p>
          <p>Check in each MOOC Homepage how and when you can obtain a Certificate.</p>
        </div>
      </li>
      <li id="q20">
        <div class="accordion" tabindex="1"><h4>What information is set out in a Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>A Certificate of Accomplishment includes the following data:</p>
          <ul>
            <li>participant’s full names as provided in the POK registration form;</li>
            <li>title of the course;</li>
            <li>name and signature of the instructor(s);</li>
            <li>date;</li>
            <li>logos of Politecnico di Milano and any partner institution;</li>
            <li>a code ensuring the authenticity of this Certificate.</li>
          </ul>
        </div>
      </li>
      <li id="#q21">
        <div class="accordion" tabindex="1"><h4>Which name do I find on my Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>The Certificate of Accomplishment uses the full names that you provided when you registered.</p>
          <p>If you wish to change your name as it appears in the Full Name field, before the certificate is created, do the following: click the arrow by your username on the top right of the page and select Account. You will find the Full Name field in the next page.</p>
        </div>
      </li>
      <li id="q22">
        <div class="accordion" tabindex="1"><h4>How do I update my name on the Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>You will need to change your Full Name inside your account details. Then, go to your dashboard and use the “View Certificate” button. You will see the updated name on the Certificate.</p>
        </div>
      </li>
    </ol>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px';
        }
      }

      acc[i].onkeypress = function(e){
        if(e.which === 13){
          this.click();
        }
      }
    }

    /* this is to detect if focus state is by tab key */
    $(window).keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 9 && $('.accordion:focus').length) {
            for (i = 0; i < acc.length; i++) {
                acc[i].classList.remove('tabbed');
            }
            e.target.classList.add('tabbed');
        }
    });
  </script>

</section>
