<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Faq</title></%block>

<section class="container faq">

    <h2 class="first">Domande frequenti – Italiano</h2>
    <p><i>Please scroll down if you are looking for the English version.</i></p>
    <ol class="faqit">
      <h3><span>Informazioni generali</span></h3>
      <li id="d1">
        <div class="accordion" tabindex="1"><h4>Cosa significa POK?</h4></div>
        <div class="panel">
          <p>POK sta per Polimi Open Knowledge: si tratta del portale di MOOCs (Massive Online Open Courses) del Politecnico di Milano che ha preso avvio nel 2014.</p>
          <p>Lo slogan di POK è “MOOCs to bridge the gaps”: esso esprime quindi la strategia adottata dal Politecnico per colmare le lacune nelle seguenti aree:</p>
          <ul>
            <li><strong>fasi di passaggio nella carriera degli studenti</strong>;</li>
            <li><strong>innovazione didattica per i docenti</strong>;</li>
            <li><strong>promozione della cittadinanza consapevole</strong>.</li>
          </ul>
          <p>In questa ottica sono stati individuati 6 filoni: scopri quello più adatto a te!</p>
        </div>
      </li>
      <li id="d2">
        <div class="accordion" tabindex="1"><h4>Come funziona POK?</h4></div>
        <div class="panel">
          <p>I corsi online disponibili su POK <strong>sono gratuiti e aperti a tutti</strong>.</p>
          <p>Per frequentare un corso è necessario:</p>
          <ul>
            <li>creare il proprio account (<a href="#d6">6. Come faccio a creare un account?</a>);</li>
            <li>attivare il proprio account (<a href="#d7">7. Come posso attivare il mio account?</a>);</li>
            <li>iscriversi al corso prescelto (<a href="#d11">11. Come faccio a iscrivermi a un corso?</a>).</li>
          </ul>
          <p>Ogni corso di POK ha una <strong>data di inizio</strong> e una <strong>data di conclusione</strong> (<a href="#d13">13. Quando iniziano i corsi?</a>) indicate nella pagina di iscrizione al corso. In questa
            pagina si possono trovare, inoltre, la descrizione del corso, la sua durata e i requisiti necessari per potervi accedere.</p>
          <p>Una volta che il corso è iniziato, è possibile seguirlo in qualsiasi momento, come e dove si vuole.</p>
          <p><strong>Dopo la fine del corso tutti i materiali rimangono a disposizione, ma non è possibile completare i quiz perché i risultati ottenuti nei quiz dopo la fine del corso non vengono presi in considerazione
            nella valutazione finale e per l’attestato</strong>, che può essere scaricato qualche giorno dopo la fine del corso. Nel caso accada che un utente non abbia completato i quiz e raggiunto la valutazione minima
            può attendere l’edizione successiva per ottenere l’attestato.</p>
        </div>
      </li>
      <li id="d3">
        <div class="accordion" tabindex="1"><h4>Qual è la lingua usata nei corsi?</h4></div>
        <div class="panel">
          <p>Dipende dai corsi! Alcuni sono solo in italiano, alcuni solo in inglese; altri sono disponibili sia nell’edizione in italiano, sia in quella in inglese. Questa informazione è disponibile nella
            descrizione del corso e vi è anche una bandierina sull’immagine di anteprima dei corsi nella home page di POK.</p>
        </div>
      </li>
      <li id="d4">
        <div class="accordion" tabindex="1"><h4>Quale browser devo usare?</h4></div>
        <div class="panel">
          <p>Si consiglia l’uso dei browser Chrome e Firefox aggiornati alle ultime versioni e con supporto Javascript abilitato.</p>
        </div>
      </li>
      <li id="d5">
        <div class="accordion" tabindex="1"><h4>Posso accedere ai corsi POK con smartphone e tablet?</h4></div>
        <div class="panel">
          <p>In questo momento non tutte le funzioni della piattaforma sono supportate per l’accesso da mobile.</p>
        </div>
      </li>

      <h3><span>Registrazione e account</span></h3>
      <li id="d6">
        <div class="accordion" tabindex="1"><h4>Come faccio a creare un account?</h4></div>
        <div class="panel">
          <p>Siamo lieti di sapere che vuoi aderire a Polimi Open Knowledge!</p>
          <ul>
            <li>Se sei <strong>uno studente, un docente, un ricercatore, un dipendente o un collaboratore del Politecnico</strong> e possiedi un <strong>codice persona</strong>, non è necessario che tu ti registri
              sulla piattafoma POK, ma puoi accedervi inserendo le tue credenziali (username e password) che utilizzi per gli altri servizi online dell’Ateneo.</li>
            <li>Se <strong>hai intenzione di iscriverti al Politecnico</strong>, il suggerimento è quello di crearti un account personale al Politecnico attivandolo su
              <a href="https://aunicalogin.polimi.it/aunicalogin/">Aunica</a>.</li>
            <li>Se <strong>non possiedi le credenziali Politecnico</strong>, puoi creare un account POK, in modo semplice e gratuito. Nella pagina “Register now” ti verranno richieste le seguenti informazioni:
              il tuo indirizzo mail, il tuo nome completo come desideri che compaia sull’Attestato e le credenziali di accesso: un nome utente e una password.</li>
          </ul>
        </div>
      </li>
      <li id="d7">
        <div class="accordion" tabindex="1"><h4>Come posso attivare il mio account?</h4></div>
        <div class="panel">
          <p>Dopo aver creato il tuo account, devi <strong>attivarlo cliccando sul link contenuto in una mail che ricevi</strong> in seguito alla registrazione. Se non ricevi questo messaggio entro
            pochi minuti, prova a controllare che non sia nella cartella della posta indesiderata. Se si trova nella posta indesiderata, contrassegnalo come posta da recapitare nella tua casella principale. Di seguito,
            non dimenticare di cliccare sul link per attivare il tuo account.</p>
          <p>Se non ricevi la mail di conferma, contatta <a href="mailto:pok@polimi.it">pok@polimi.it</a> che si metterà in contatto con te prima possibile.</p>
        </div>
      </li>
      <li id="d8">
        <div class="accordion" tabindex="1"><h4>Come posso modificare la password?</h4></div>
        <div class="panel">
          <p>Se hai un <strong>account Politecnico</strong>, tramite Aunica login, ogni modifica deve essere fatta attraverso la pagina dei <a href="https://aunicalogin.polimi.it/aunicalogin/">Servizi Online</a>
            del Politecnico.</p>
          <p>Se hai un <strong>account POK</strong>, collegati al portale con le tue credenziali, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la
            voce “Account”: si apre una pagina all’interno della quale trovi “Reset Your Password”.</p>
        </div>
      </li>
      <li id="d9">
        <div class="accordion" tabindex="1"><h4>Ho dimenticato la password, cosa devo fare?</h4></div>
        <div class="panel">
          <p>Se hai dimenticato la password puoi facilmente generarne una nuova cliccando, dalla pagina di <a href="https://www.pok.polimi.it/login">Login</a>, sulla scritta “Forgot password?”.
            Riceverai entro pochi minuti una mail con un link di reset password (controlla anche nello spam se non la ricevi subito!).
            Attenzione! Se hai un account Politecnico (Aunica login) ogni modifica deve essere fatta attraverso la pagina dei <a href="https://aunicalogin.polimi.it/aunicalogin/">Servizi Online</a> del Politecnico.</p>
        </div>
      </li>
      <li id="d10">
        <div class="accordion" tabindex="1"><h4>Posso modificare i miei dati personali?</h4></div>
        <div class="panel">
          <p>Puoi <strong>facilmente modificare il tuo indirizzo mail e tutte le altre informazioni</strong> che hai fornito al momento della registrazione, fatta eccezione per il tuo <strong>nome utente
            (username)</strong>, che è quello che compare nella tua dashboard, nelle discussioni, nei report dei docenti. Una volta fatta la registrazione non può più essere cambiato, quindi va scelto con cura.
            Per modificare gli altri dati, collegati al portale con le tue credenziali, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la voce “Account”: si apre una pagina
            all’interno della quale ci sono dei campi modificabili.</p>
        </div>
      </li>

      <h3><span>Iscrizione a un corso</span></h3>
      <li id="d11">
        <div class="accordion" tabindex="1"><h4>Come faccio a iscrivermi a un corso?</h4></div>
        <div class="panel">
          <p>Una volta che è avvenuta l’iscrizione al portale e che è stato effettuato il login, puoi facilmente iscriverti a uno o più corsi. Clicca su <strong>“Find Courses”</strong> (in alto a sinistra) per
            visualizzare l’elenco dei corsi disponibili, raggiungibile anche da questo link: <a href="https://www.pok.polimi.it/courses">https://www.pok.polimi.it/courses</a>. Una volta che avrai effettuato
            l’iscrizione, il corso verrà aggiunto alla tua Dashboard, nella quale lo troverai in seguito.</p>
        </div>
      </li>
      <li id="d12">
        <div class="accordion" tabindex="1"><h4>Quanto costa iscriversi a un corso?</h4></div>
        <div class="panel">
          <p>Tutti i corsi disponibili su POK sono <strong>gratuiti</strong>: essi sono progettati per rendere la conoscenza universitaria accessibile a tutti.</p>
        </div>
      </li>
      <li id="d13">
        <div class="accordion" tabindex="1"><h4>Quando iniziano i corsi?</h4></div>
        <div class="panel">
          <p>Le <strong>date di inizio e fine corso</strong> sono indicate nella pagina di descrizione di ogni corso. In <a href="https://www.pok.polimi.it/courses">questa pagina</a>
            trovi l’elenco di tutti i corsi, con la data di inizio della prima edizione in partenza. Se clicchi sul corso che ti interessa si apre una pagina, sulla destra della quale vi è una tabella riepilogativa
            delle informazioni principali: date di inizio e fine, impegno richiesto, lingua di erogazione, filone di appartenenza.</p>
        </div>
      </li>
      <li id="d14">
        <div class="accordion" tabindex="1"><h4>Posso iscrivermi a un corso già iniziato?</h4></div>
        <div class="panel">
          <p>Sì, è possibile iscriversi ad un corso in qualsiasi momento, ma se sono previste esercitazioni con valutazione o attività di peer-assessment – e queste sono già passate – non è possibile ottenere
            l’attestato.</p>
          <p>Tutti i corsi di POK hanno più edizioni all’anno; alcuni di essi prevedono il lancio della nuova edizione subito alla chiusura della precedente, altri dopo solo alcune settimane.</p>
        </div>
      </li>
      <li id="d15">
        <div class="accordion" tabindex="1"><h4>Quando ci sarà una nuova edizione del corso che mi interessa?</h4></div>
        <div class="panel">
          <p>Tutti i corsi disponibili su POK vengono erogati <strong>più volte durante l’anno</strong>. Per alcuni di essi è previsto l’avvio immediatamente dopo la conclusione di una edizione, per altri invece
            vi può essere un intervallo di qualche settimana. Consulta il portale per tenerti aggiornato!</p>
        </div>
      </li>

      <h3><span>Attività di un corso</span></h3>
      <li id="d16">
        <div class="accordion" tabindex="1"><h4>Dove trovo le lezioni e le attività da svolgere?</h4></div>
        <div class="panel">
          <p>Puoi raggiungere il corso partendo dalla tua <strong>dashboard</strong>: clicca sul titolo o sul pulsante <strong>“View course”</strong> e entra nel corso. Qui puoi muoverti tra la pagina
            con le informazioni principali (<strong>Home</strong>), l’elenco delle lezioni e delle attività (<strong>Course</strong>), le discussioni su forum (<strong>Discussion</strong>) e le
            statistiche relative alle tue attività di fruizione dei contenuti (<strong>Progress</strong>). Nella pagina Course puoi vedere sulla sinistra l’elenco delle week e scoprire i titoli dei
            singoli moduli.</p>
        </div>
      </li>
      <li id="d17">
        <div class="accordion" tabindex="1"><h4>Nei quiz, come faccio a inviare la mia risposta?</h4></div>
        <div class="panel">
          <p>Per inviare una risposta devi usare il pulsante <strong>“Check”</strong> posto sotto ogni singola domanda. Se non sei pronto ad inviare la risposta e preferisci riguardarti i contenuti della lezione,
            clicca sul pulsante <strong>“Save”</strong> e la tua risposta non sarà inviata.</p>
          <p>Di solito vi è un numero limitato di tentativi possibili per inviare una risposta. In alcuni casi, una volta che hai utilizzato tutti i tentativi possibili o hai risposto correttamente, compare una
            spiegazione della risposta.</p>
          <p>Se devi inserire una formula matematica o dei simboli speciali, consulta i suggerimenti dei docenti nella pagina iniziale del corso o all’inizio dell’esercizio.</p>
        </div>
      </li>

      <h3><span>Attestati di partecipazione</span></h3>
      <li id="d18">
        <div class="accordion" tabindex="1"><h4>In cosa consiste l’attestato di partecipazione?</h4></div>
        <div class="panel">
          <p>Una volta concluso il corso, puoi ricevere un attestato di partecipazione se hai raggiunto i requisiti minimi richiesti. I requisiti minimi sono esplicitati nella pagina di descrizione del corso in
          oggetto e generalmente consistono nel raggiungimento di almeno il 60% di risposte corrette dei quiz.</p>
          <p>NOTA: l’attestato di partecipazione non è un certificato ufficiale e non attesta la partecipazione a corsi dell’Ateneo, quindi non dà diritto a crediti universitari né a voti o diplomi.</p>
        </div>
      </li>
      <li id="d19">
        <div class="accordion" tabindex="1"><h4>Come faccio ad ottenere l’attestato di partecipazione?</h4></div>
        <div class="panel">
          <p>L’attestato può essere scaricato direttamente dalla dashboard: qualche giorno dopo il termine del corso riceverai una mail con tutte le informazioni a questo riguardo.</p>
        </div>
      </li>
      <li id="d20">
        <div class="accordion" tabindex="1"><h4>Quali informazioni riporta l’attestato di partecipazione?</h4></div>
        <div class="panel">
          <p>L’attestato di partecipazione riporta le seguenti informazioni:</p>
          <ul>
            <li>nome completo del partecipante, come inserito al momento della registrazione;</li>
            <li>titolo del corso;</li>
            <li>nome e firma del docente;</li>
            <li>data;</li>
            <li>loghi del Politecnico di Milano e di eventuali partner;</li>
            <li>codice che garantisce l’autenticità dell’attestato di partecipazione.</li>
          </ul>
        </div>
      </li>
      <li id="#d21">
        <div class="accordion" tabindex="1"><h4>Che nome compare sull’attestato di partecipazione?</h4></div>
        <div class="panel">
          <p>L’attestato di partecipazione riporta il nome completo fornito al momento della registrazione (“Full Name”).</p>
          <p>Se desideri cambiare il nome, entro la data di fine corso collegati al portale con le tue credenziali, clicca sulla freccia nera che trovi accanto al tuo nome in alto a destra e seleziona la voce
          “Account”: si apre una pagina all’interno della quale trovi “Full Name”.</p>
        </div>
      </li>
      <li id="d22">
        <div class="accordion" tabindex="1"><h4>Il nome presente sul mio attestato non è corretto. Posso modificarlo?</h4></div>
        <div class="panel">
          <p>No: l’attestato viene generato al termine del corso con il nome che hai indicato tu al momento della registrazione e, una volta che il corso si è concluso, l’attestato non può essere generato nuovamente.</p>
        </div>
      </li>
    </ol>



    <h2>Frequently asked questions – English</h2>
    <ol class="faqen">
      <h3><span>General Information</span></h3>
      <li id="q1">
        <div class="accordion" tabindex="1"><h4>What does POK stand for?</h4></div>
        <div class="panel">
          <p>POK stands for Polimi Open Knowledge: it is an initiative of Politecnico di Milano, started in 2014, to develop MOOCs (Massive Online Open Courses).</p>
          <p>The POK slogan is “MOOCs to bridge the gaps”: it expresses the strategy adopted by Politecnico di Milano for bridging the gaps in the following areas:</p>
          <ul>
            <li><strong>transitions of students’ career</strong> (To support the main transitions in students’ career);</li>
            <li><strong>teaching innovation</strong> (To support teaching innovation in both higher education institutions and schools);</li>
            <li><strong>academic social responsibility</strong> (Opening up the expertise of Politecnico di Milano for the benefit of a general audience, promoting conscious citizenship in compliance with the
              third mission of universities).</li>
          </ul>
          <p>To this end, we classified the courses by six thematic patterns.</p>
        </div>
      </li>
      <li id="q2">
        <div class="accordion" tabindex="1"><h4>How does POK work?</h4></div>
        <div class="panel">
          <p>Courses on POK are available online and free of charge.</p>
          <p>To take a course you need to:</p>
          <ul>
            <li>create your account (<a href="#q6">6. How can I create an account?</a>);</li>
            <li>activate it (<a href="#q7">7. How can I activate my account?</a>);</li>
            <li>enroll in one or more courses you are interested in (<a href="#q11">11. How do I enroll in a course?</a>).</li>
          </ul>
          <p>Each course on POK has a <strong>start date</strong> and an <strong>end date</strong> available on the registration page of the course itself (<a href="#q13">13. When does my course start?</a>).
             In this page, you may find some useful information such as the course description, the duration of the course itself, and the prerequisites needed to access it.</p>
          <p>Once a course starts, you may follow it whenever you like, at a pace that suits you.</p>
          <p><strong>After the end of the course, all the material will be still available, but the quizzes completed after the end of the course will not be graded</strong>, nor earn a Certificate of Accomplishment.
            Further editions will be planned on POK, so if you were not able to complete the course our suggestion is to enroll for the next edition.</p>
        </div>
      </li>
      <li id="q3">
        <div class="accordion" tabindex="1"><h4>In which language will the courses be taught?</h4></div>
        <div class="panel">
          <p>It depends on the course itself. Some of the courses are taught in Italian, others are only taught in English. This information is available on the description of the course, and also, as far as the
            ones run in English are concerned, through a flag in the preview of the course.</p>
        </div>
      </li>
      <li id="q4">
        <div class="accordion" tabindex="1"><h4>What browsers are supported for use in POK courses?</h4></div>
        <div class="panel">
          <p>We recommend current versions of Chrome or Firefox.</p>
        </div>
      </li>
      <li id="q5">
        <div class="accordion" tabindex="1"><h4>Can I access POK courses on my smart phone or tablet computer?</h4></div>
        <div class="panel">
          <p>At this time, edX does not fully support access with mobile devices. While most components of your courses will function in the app or a mobile browser, some may not.</p>
        </div>
      </li>

      <h3><span>Registration and account</span></h3>
      <li id="q6">
        <div class="accordion" tabindex="1"><h4>How can I create an account?</h4></div>
        <div class="panel">
          <p>We are so happy you want to join Polimi Open Knowledge!</p>
          <ul>
            <li>If <strong>you are an institutional user of Politecnico di Milano</strong> (meaning you already have a personal code), you do not need a further registration for POK. You have to go to: POLIMI LOGIN and use
              the credentials you normally use to access to Politecnico di Milano Online Services.</li>
            <li>If <strong>you are planning to study at Politecnico di Milano</strong>, we suggest you create your personal Politecnico di Milano account by activating it on
              <a href="https://aunicalogin.polimi.it/aunicalogin/">Aunica</a>.</li>
            <li>If <strong>you do not have a Politecnico di Milano personal code</strong>, you may create your POK account. Creation of an account is easy and free of charge!
              In the registration page you have to enter the following information: your email address, your full names as you would like them to appear on any Certificate
              you may earn, a unique username and a password of your choosing.
            </li>
          </ul>
        </div>
      </li>
      <li id="q7">
        <div class="accordion" tabindex="1"><h4>How can I activate my account?</h4></div>
        <div class="panel">
          <p>After creating your own account, you need to activate it by clicking on the link in the e-mail you receive. If you do not receive the confirmation message within a few minutes of signing up, please
            check your Spam E-mail folder just in case the confirmation email went there instead of your inbox.
            If so, select the confirmation message and mark it Not Spam, which should allow future messages to get through.
            Do not forget to click the link in the confirmation message.</p>
          <p>In case you did not receive the email, please contact <a href="mailto:pok@polimi.it">pok@polimi.it</a> and the staff will contact you as soon as possible in order to solve the problem.</p>
        </div>
      </li>
      <li id="q8">
        <div class="accordion" tabindex="1"><h4>How do I reset my password?</h4></div>
        <div class="panel">
          <p>If you are logged in as Politecnico di Milano user, your password is tied to your Politecnico di Milano account and any change must be done through
            <a href="https://aunicalogin.polimi.it/aunicalogin/">Online Services</a>.</p>
          <p>If you are not registered through your personal code and you are using an account created on POK, Sign in to POK, then click the arrow by your username on the top right of the page and select
            Account. There is a Reset Password link on the Account page.</p>
        </div>
      </li>
      <li id="q9">
        <div class="accordion" tabindex="1"><h4>I forgot my password, what should I do?</h4></div>
        <div class="panel">
          <p>If you forget your password, you can easily generate a new one clicking on “Forgot password?”, in the <a href="https://www.pok.polimi.it/login">Login</a> page.
            You will receive an e-mail in a few minutes with a reset link (check Junk box, too!).
            If you are logged in as a Politecnico di Milano user your password is tied to your Politecnico di Milano account and any change must be done through <a href="https://aunicalogin.polimi.it/aunicalogin/">Online Services</a>.</p>
        </div>
      </li>
      <li id="q10">
        <div class="accordion" tabindex="1"><h4>Can I modify my personal/account data?</h4></div>
        <div class="panel">
          <p>You can easily modify your e-mail address and all the other optional data you provided when registering with POK.
            Just log in to your account and click on the arrow next to your username on the top right of any page, then select Account.
            The only data you may not change is the username. Once you have registered your account and created your custom username, it is not possible to change it. Please note that your unique username
            displays on your dashboard, in exported grade reports that the instructor runs and in discussions you post or respond to, so choose it carefully.</p>
        </div>
      </li>

      <h3><span>Enrolling</span></h3>
      <li id="q11">
        <div class="accordion" tabindex="1"><h4>How do I enroll in a course?</h4></div>
        <div class="panel">
          <p>Once you have registered and logged into Polimi Open Knowledge you can easily and quickly register for one or more courses by clicking the <strong>“Find Courses”</strong> link at the top of the page.
            The course will be added to your Dashboard page, where you can access all the courses you are enrolled in.</p>
        </div>
      </li>
      <li id="q12">
        <div class="accordion" tabindex="1"><h4>How much do courses cost?</h4></div>
        <div class="panel">
          <p>All the courses offered on POK are <strong>free of charge</strong>: they have been designed to open up the expertise of Politecnico di Milano to all and sundry.</p>
        </div>
      </li>
      <li id="q13">
        <div class="accordion" tabindex="1"><h4>When does my course start?</h4></div>
        <div class="panel">
          <p>The <strong>start and end date</strong> of the course are available on the About page of the course. To get there, click on the course name from <a href="https://www.pok.polimi.it/courses">this page</a>,
            then look on the right side of the page to learn more about the course schedule.</p>
          <p>In this page, you will find a lot of useful information, the duration of the course, the estimated effort, the pre-requisites required for taking the course, information about instructors, and all
          the information about the general structure of the course.</p>
          <p>If you enroll in a course before it begins, you will not be able to get in until the Class Start date.</p>
        </div>
      </li>
      <li id="q14">
        <div class="accordion" tabindex="1"><h4>Can I enroll in a course already started?</h4></div>
        <div class="panel">
          <p>Yes, you can enroll in a course at any time, but if there are expected outcomes like peer assessment activities or due date for homework – and they have already passed – you would not be able to obtain
          the statement of accomplishment.</p>
          <p>All the courses available on POK are scheduled to run again in future. Some of them follow one and others are planned as often as four or five times a year.</p>
        </div>
      </li>
      <li id="q15">
        <div class="accordion" tabindex="1"><h4>When will these courses be offered again?</h4></div>
        <div class="panel">
          <p>All the courses available on POK are <strong>scheduled to run again in the future</strong>. Some of them follow one while others are planned as often as four or five times a year. Keep yourself
            updated by checking the POK periodically.</p>
        </div>
      </li>

      <h3><span>Course activities</span></h3>
      <li id="q16">
        <div class="accordion" tabindex="1"><h4>Where are the lessons and assignments?</h4></div>
        <div class="panel">
          <p>Click on the “View Course” button on your <strong>Dashboard page</strong>, you will arrive at the course. This page contains the <strong>Home</strong>, the <strong>Course</strong> and the
            <strong>Discussion</strong> tabs on the top left of the page.
            You can skip from a content to another by clicking on the arrow at the bottom of the page. In the Course page, you may see on the left the list of weeks and find out the module titles.</p>
        </div>
      </li>
      <li id="q17">
        <div class="accordion" tabindex="1"><h4>How do I submit my answers?</h4></div>
        <div class="panel">
          <p>To <strong>submit your answer</strong> to a quiz, use the <strong>“Check”</strong> button you find under each question.
            If you are not ready to submit your answer, just click on the <strong>“Save”</strong> button, and your answer will not be submitted.</p>
          <p>Please note that there is generally a limit to the number of answers you may provide. Once you have used up all your attempts or you gave the right answer, an explanation may will show up.</p>
          <p>If you need to write a mathematics formula or some special typos, please check the suggestions provided by the instructor in the course. These suggestions are generally included at the beginning
             of the course, in the course Information section, or at the beginning of the exercise itself.</p>
        </div>
      </li>

      <h3><span>Certificates of Accomplishment</span></h3>
      <li id="q18">
        <div class="accordion" tabindex="1"><h4>What is a Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>If you finished the course and reached the passing grade, you will receive a Certificate of Accomplishment. The passing grade is expressly stated in the course information page, and the threshold
            is generally 60% of right quiz answers.</p>
          <p>NOTA: the Certificate of Accomplishment is not an official certificate and does not attest participation in a course taken at Politecnico di Milano or at another accredited partner institution,
            nor does it confer any academic credit, grade or degree.</p>
        </div>
      </li>
      <li id="q19">
        <div class="accordion" tabindex="1"><h4>How can I earn a Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>The Certificate can be downloaded directly from your dashboard: some days after the end of the course, you will receive an e-mail with all the information on how to download it.</p>
        </div>
      </li>
      <li id="q20">
        <div class="accordion" tabindex="1"><h4>What information is set out in a certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>A certificate of Accomplishment includes the following data:</p>
          <ul>
            <li>participant’s full names as provided in the POK registration form;</li>
            <li>title of the course;</li>
            <li>name and signature of the instructor(s);</li>
            <li>date;</li>
            <li>logos of Politecnico di Milano and any partner institution;</li>
            <li>a code ensuring the authenticity of this certificate.</li>
          </ul>
        </div>
      </li>
      <li id="#q21">
        <div class="accordion" tabindex="1"><h4>Which name do I find on my Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>The Certificate of Accomplishment uses the full names that you provided when you registered.</p>
          <p>If you wish to change your name as it appears in the Full Name field, please click the arrow by your username on the top right of the page and select Account that appear next to your
          name on the left side of your dashboard.</p>
        </div>
      </li>
      <li id="q22">
        <div class="accordion" tabindex="1"><h4>How do I update my name on the Certificate of Accomplishment?</h4></div>
        <div class="panel">
          <p>Please note that once the course has ended and Certificates of Accomplishment have been generated, it will no longer be possible to make the change, as it is not possible for you to generate
            another Certificate of Accomplishment.</p>
        </div>
      </li>
    </ol>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px';
        }
      }

      acc[i].onkeypress = function(e){
        if(e.which === 13){
          this.click();
        }
      }
    }

    /* this is to detect if focus state is by tab key */
    $(window).keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 9 && $('.accordion:focus').length) {
            for (i = 0; i < acc.length; i++) {
                acc[i].classList.remove('tabbed');
            }
            e.target.classList.add('tabbed');
        }
    });
  </script>

</section>
