<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Privacy Notice</title></%block>

<section class="container tos">
  <h2 class="first">Privacy Notice</h2>

  <p>This privacy notice refers to the Polimi Open Knowledge website (“POK”).</p>

  <p><strong>NOTICE: On May 25, 2018, POK adopted an amended privacy policy under the provisions of Article 13 of European Union GDPR - General Data protection Regulation (679/2016/EU).</strong></p>

  <h3><span>Privacy Notice</span></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium metus leo, eget posuere augue tristique at. Fusce sagittis dolor est. Vestibulum non dui vitae leo facilisis condimentum non non dolor. Donec ac nibh vel lectus bibendum egestas. Nullam non felis non lectus consequat molestie. Nunc vel ipsum turpis. Vestibulum rhoncus ipsum at cursus sollicitudin. Nunc mattis ante ex, at aliquam enim facilisis ac. Sed iaculis egestas sodales. Nulla neque nisl, tincidunt ut hendrerit vitae, auctor condimentum libero. Curabitur rutrum lorem in elit euismod fringilla. Fusce diam eros, lobortis sodales tincidunt id, ultricies vitae tortor. Aliquam nec nulla commodo, aliquet elit vitae, dignissim elit. Nullam tortor odio, molestie a finibus a, tristique a augue. Suspendisse convallis dapibus ex, vel fringilla turpis blandit ut. Etiam rhoncus diam eget nunc interdum ullamcorper.</p>
  
  <h3 style="text-align:right">Effective date: May 25, 2018</h3>

</section>
