<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Privacy Notice</title></%block>

<section class="container tos">
  <h1 class="first"><strong>PRIVACY NOTICE UNDER THE PROVISIONS OF ARTICLE 6 OF REGULATION (EU) No 2016/679 OF 27 APRIL 2016</strong></h1>

  <p>This privacy notice refers to the Polimi Open Knowledge website (“POK”).</p>
  <br><br>

  <p>The current privacy notice is granted pursuant to Article 6 of Regulation (EU) No 2016/679 of 27 April 2016 relating to the protection of natural persons as regards the processing of personal data and in compliance with the rules on the processing of personal data and on free movement of such data.</p>

  <p><strong>Data Controller</strong>: Politecnico di Milano – Directorate General upon authorisation of the pro-tempore Rector dirgen@polimi.it 
    <br> Piazza Leonardo da Vinci 32 – 20133 Milan Italy
    <br> Phone +39 0223992243
    <br> PEC: pecateneo@cert.polimi.it 
  </p>

  <p><strong>Data Protection Officer</strong>: privacy@polimi.it - phone: +39 0223999378</p>

  <p>Personal data is processed according to all purposes related to design and delivery of POK, that include:</p>

  <ul>
    <li>purposes related to monitoring, analyzing and assessing the use of the service;</li>
    <li>purposes related to teaching, learning, and research.</li>
  </ul>

  <p>We inform you that in order to obtain a proper service delivery it is mandatory that you provide us the required data, otherwise it will be impossible to access the POK service. </p>

  <p>In relation to the stated purposes, the data processing is carried out with digital tools. In any case the protection is ensured by password.</p>

  <p>POK stores information, including Personal Information, on its own servers located at Politecnico di Milano. POK controls its own copy of information collected through the POK Site and has an information security program designed to protect information in its possession or control. This is done through a variety of and security policies, processes, and procedures. POK uses administrative, physical, and technical safeguards that reasonably and appropriately protect the confidentiality, integrity, and availability of the information that it collects, receives, stores, or transmits.</p>

  <p>POK may share information, including Personal Information, only as needed to fulfill the relevant purpose(s), with the following third parties: </p>
  <ul>
    <li> staff authorised to process personal data;</li>
    <li> European Union;</li>
    <li> organisations partnering with POK to offer MOOCs, such as organisations participating in the respective EU-funded projects;</li>
    <li> employers, institutions or other entities that foster your enrollment in a MOOC for training or other educational purposes (if an entity supports your course participation, POK may share information with that entity as needed to confirm your enrollment, participation, progress, and completion status in that course); </li>
    <li> subjects that provide outsourcing services or acting as technicians operating the POK equipment and service programs;</li>
    <li> entities / authorities for issuing public key certificates.</li>
  </ul>

  <p>The Data Controller shall not transfer personal data to a third country or an international organization.</p>

  <p>POK will retain your Personal Information for as long as your account is active or as needed to provide you with services. If you enroll in a course, your Personal Information will be retained for as long as needed to provide you with services.</p>

  <p>At any time you entitled to exercise the rights set out in Article 15 of Regulation (EU) No 2016/679, and precisely:</p>
  <ul>
    <li> the right to access your personal data; </li>
    <li> the right to have your personal data deleted or rectified;</li>
    <li> the right to object to the processing of data relating to you;</li>
    <li> the right to withdraw your consent to such processing;</li>
    <li> the right to erasure within the limits of current regulations.</li>
  </ul>

<p>Please note that if you choose to restrict POK’s ability to process Personal Information, and the processing is otherwise required to provide you with the service offered on the POK Site, you may not be able to establish an POK user account or enroll for a course, and POK may not be able to provide you with this service.</p>

<p>You may exercise your rights by sending a request by email to <a href="mailto:privacy@polimi.it">privacy@polimi.it</a>.</p>

<p>If you consider the answer provided to be unsatisfactory, you may lodge, free of charge, a complaint with the Italian Authority for Data Protection - Garante per la protezione dei dati personali (<a href="https://www.garanteprivacy.it" target="_blank">www.garanteprivacy.it</a>).</p>

-
</section>
