<%! from django.urls import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Termini di utilizzo del servizio / Terms of service</title></%block>

<section class="container tos">
  <h2 class="first">Termini di utilizzo del servizio - Italiano</h2>
  <p><i>Please scroll down if you are looking for the English version.</i></p>

  <p><strong>PER PARTECIPARE AI CORSI POLIMI OPEN KNOWLEDGE (“POK”) O ACCEDERE ALLE RISORSE OFFERTE DA POLITECNICO DI MILANO (“POLIMI”) ALL'INDIRIZZO <a href="https://www.pok.polimi.it" target="_blank">www.pok.polimi.it</a> (“SITO”), DEVI PRIMA LEGGERE ATTENTAMENTE E ACCETTARE I PRESENTI TERMINI DI UTILIZZO DEL SERVIZIO (“TERMINI”). ACCEDENDO E PARTECIPANDO AI CORSI, CONFERMI DI AVER LETTO I PRESENTI TERMINI DI UTILIZZO DEL SERVIZIO ED ACCETTI DI ESSERE VINCOLATO A CONFORMARTI AD ESSI. SE NON ACCETTI DI ESSERE VINCOLATO DA QUESTI TERMINI, SEI PREGATO DI USCIRE SUBITO DAL SITO.</strong></p>
  
  <p><strong>POLIMI SI RISERVA IL DIRITTO DI MODIFICARE QUESTI TERMINI IN QUALUNQUE MOMENTO, PUBBLICANDO SUL SITO UN AVVISO DELLE MODIFICHE EFFETTUATE. CONTINUANDO AD ACCEDERE AL SITO DOPO CHE L'AVVISO DELLE MODIFICHE È STATO PUBBLICATO, ESPRIMI IL TUO CONSENSO AD ESSERE VINCOLATO DALLA NUOVA VERSIONE DEI TERMINI.</strong></p>

    <ol>
      <li>
        <h3><span>Oggetto e scopo</span></h3>
        <p>Polimi fornisce la piattaforma online POK che ospita i MOOC (Massive Open Online Courses) creati da Polimi e da altre organizzazioni e partner POK con sede in Italia e nel mondo. Iscrivendoti a una corso online offerto sul sito, entri a far parte di una comunità mondiale di discenti. POK aspira a fornirti un accesso a corsi online e materiali didattici ovunque tu ti trovi.
          </p>
      </li>
      <li>
        <h3><span>Ammissibilità</span></h3>
        <p>L'iscrizione e partecipazione a POK e ai suoi corsi online sono limitate agli individui dai 18 anni in su, minori emancipati, o chi è in possesso del consenso legale dei genitori o del tutore, ed è in grado e ha le competenze idonee per poter accedere ai termini, condizioni, obblighi, dichiarazioni e garanzie qui indicati. In ogni caso, affermi di avere più di 14 anni, in quanto l'accesso al sito non è destinato ai minori di 14 anni. Se hai meno di 14 anni, non utilizzare il Sito. Se hai domande sull'applicabilità di questa politica, scrivici qui ${_('{email}').format(
          email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}. Alcuni corsi potrebbero avere anche altri requisiti di ammissibilità, come specificato nelle relative descrizioni dei corsi. Se non hai i requisiti per iscriverti o partecipare, o se non se d'accordo coi Termini, non utilizzare il sito.</p>
      </li>

      <li>
        <h3><span>Regole di condotta online</span></h3>
        
        <p>Come utente del Sito sei responsabile per qualunque informazione tu pubblichi sul Sito e per il modo in cui usi il Sito. Le pubblicazioni includono tutti i contenuti forniti, inviati o mostrati da te o da altri utenti sul sito. Come contenuto degli utenti si intende qualunque testo, foto, video, contenuto in altri formati mediali o le discussioni trasmesse, comunicate o presentate in altro modo negli spazi interattivi (forum, social network) e i lavori inviati come parte delle consegne da svolgere per il corso (incluse le consegne per la valutazione tra pari).</p>

        <p>Di conseguenza, accetti di osservare tutte le leggi vigenti e le disposizioni vigenti relative all'utilizzo di computer e reti, in particolare astenendoti dal compiere intenzionalmente attività che costituiscono o possono comportare:</p>
        
        <ul class="simple"><li>il furto di identità;</li>
          <li>il rubare la password ad altri utenti;</li>
          <li>il modificare, alterare o distruggere dati che non ti appartengono;</li>
          <li>l'ispezionare dati appartenenti ad altri utenti senza la loro autorizzazione;</li>
          <li>il collegarsi o tentare di collegarsi a un account senza l'opportuna autorizzazione;</li>
          <li>il far utilizzare ad altri la tua username e/o password;</li>
          <li>il far deviare una delle funzioni o delle funzionalità del Sito dall'uso normale;</li>
          <li>il danneggiare, disabilitare, sovraccaricare, compromettere o interrompere il funzionamento del Sito, del server o della rete.</li>
        </ul>

        <p>Non puoi usare il Sito con mezzi automatizzati, come sistemi di screen-scraper o robot. Con questo non si vuole escludere l'uso di tecnologie assistive per uso personale come gli screen-reader. Accetti di non inviare email indesiderate ad altri utenti del Sito. Non puoi mostrare il Sito all'interno di un frame su un altro sito, o collocare finestre di pop-up o altre tecnologie destabilizzanti su di esso.</p>
        
        <p>Accetti inoltre di astenerti dal tentare, con qualsivoglia mezzo, l'accesso non autorizzato a POK e la raccolta non autorizzata di dati 
        presenti sul Sito, sui suoi server o sui computer associati, tramite qualunque mezzo che non ti sia stato messo a disposizione appositamente tramite il Sito.</p>
        <p>Accetti altresì di non inviare via email o pubblicare in alcuna parte del Sito:</p>
        
        <ul>
          <li>contenuti che diffamino o minaccino altri;</li>
          <li>affermazioni di carattere molesto o contenuti che violino le leggi applicabili;</li>
          <li>contenuti che parlino di attività illegali con l'intento di compierle;</li>
          <li>contenuti legati ad attività politiche di parte;</li>
          <li>materiali contenenti linguaggio o immagini osceni (pornografici);</li>
          <li>pubblicità o qualunque forma di sollecitazione commerciale;</li>
          <li>contenuti che siano altrimenti illegali;</li>
          <li>contenuti intenzionalmente fuorvianti o inesatti;</li>
          <li>contenuti che violino la proprietà intellettuale altrui, tra cui tra l'altro, ma non solo, copyright, marchi o segreti commerciali.</li>
        </ul>
        
        <p>Il materiale coperto da copyright, tra cui, a titolo esemplificativo e non esaustivo, software, grafica, testo, foto, suoni, video e registrazioni musicali, non può essere messo sul Sito senza il permesso esplicito di chi detiene il copyright o altro titolo legittimo per utilizzare il materiale.</p>
        
        <p>Accetti che, se una terza parte dichiara che il materiale che hai pubblicato sul Sito è illecito, tu avrai l'onere di stabilire se il materiale è conforme alle leggi applicabili. Benchè Polimi non monitori il contenuto del Sito, Polimi ha il diritto di rimuovere del materiale dal Sito, bloccare l'accesso o intraprendere a sua esclusiva discrezione altre azioni in riferimento al materiale.</p>
        
        <p>Trasmettendo e distribuendo le tue pubblicazioni come utente accetti che tali contenuti possano essere riprodotti e diffusi potenzialmente a livello mondiale, solo per i fini dei corsi online, salvo se diversamente specificato nei relativi corsi.</p>

      </li>
      
      <li>
        <h3><span>Raccomandazioni agli utenti</span></h3>
        <p>Salvo diversa indicazione da parte del tuo docente online, sei invitato a:</p>

        <ul class="simple">
          <li>discutere con gli altri discenti dei concetti generali e dei materiali del singolo corso utilizzando gli strumenti collaborativi disponibili;</li>
          <li>assicurarti che il nome e cognome che dai sia quello che tu vuoi che appaia sui certificate of accomplishment;</li>
          <li>scegliere con attenzione il tuo nome utente, tenendo conto che non potrà essere modificato successivamente e che sarà visibile agli altri partecipanti.</li>
        </ul>
          
        <li>
          <h3><span>Impegni degli utenti</span></h3>
          <p>In aggiunta alle regole di condotta online stabilite nei Termini e nella <a href="/privacy#it" target="_blank">privacy policy</a>, ti impegni a:</p>
          <ul class="simple">
            <li>non intraprendere alcuna forma di imbroglio finalizzata a migliorare artificialmente le tue valutazioni o i tuoi risultati;</li>
            <li>non tentare di innalzare o abbassare le valutazioni e i risultati di altri;</li>
            <li>osservare i diritti di proprietà intellettuale garantiti dalla licenza indicata per ciascun corso online ospitato sul Sito.</li>
          </ul>
        </li>
      </li>

      <li>
        <h3><span>Dichiarazione di non responsabilità relativa al contenuto</span></h3>
        <p>I testi e gli altri materiali dei corsi online possono contenere l'opinione dello specifico docente e non sono dichiarazioni di consulenza, opinioni o informazioni di Polimi. Se pensi che potresti essere offeso dal contenuto dei corsi online, non devi proseguire.</p>
        <p>I corsi online possono includere anche opinioni personali e altre esternazioni da parte di utenti che pubblicano contributi  su una vasta gamma di argomenti. Né il contenuto dei forum, né i link ad altri siti sono controllati, approvati, revisionati o sottoscritti da Polimi.</p>
      </li>

      <li>
        <h3><span>Account utente</span></h3>
        <p>Per partecipare pienamente a tutte le attività del Sito, devi registrarti per creare un account utente POK (nome, nome utente, indirizzo email); se hai le credenziali per utilizzare i servizi online Polimi, usale per accedere a POK via single sign-on. </p>
          <p>Accetti di non rivelare mai né condividere l'accesso al tuo account utente con alcuna terza parte per nessuna ragione.</p>
        <p>Nel configurare il tuo account utente ti potrà essere suggerito o richiesto di inserire informazioni aggiuntive. Riconosci ed accetti che tutte le informazioni che formisci sono accurate, aggiornate e complete e che le gestirai ed aggiornerai affinché rimangano tali. Riconosci ed accetti che, se qualche informazione fornita da te fosse falsa, inesatta, non aggiornata o incompleta ci riserviamo il diritto di terminare l'utilizzo dei corsi online da parte tua.</p>
      </li>

      <li>
      <h3><span>Modifiche o cancellazioni dei corsi</span></h3>
        <p>I corsi online, ivi compresi i materiali dei corsi, possono contenere errori ed omissioni. Ci riserviamo il diritto di correggere senza preavviso gli errori o le omissioni. Ci riserviamo altresì il diritto di cancellare, interrompere, riscadenzare, rimandare, cambiarne i docenti o modificare qualunque corso o servizio.</p>
        <p>Tu sei consapevole che il contenuto del corso online non riflette il programma completo di un corso che potrebbe essere offerto agli studenti iscritti a Polimi.</p>
        <p>Studieremo la partecipazione al corso per comprendere come migliorare sia l'offerta sia l'esperienza didattica online.
        Nell'interesse di queste ricerche, potresti essere interessato da piccole variazioni dei materiali dei corsi che non altereranno in modo sostanziale la tua esperienza di apprendimento.</p>
      </li>

      <li>
        <h3><span>Uso del Sito e dei materiali</span></h3>
        <p>Salvo dove diversamente indicato, il Sito e i suoi contenuti sono proprietà di Polimi. Salvo dove diversamente indicato, l'utente non può copiare, riprodurre, duplicare, ritrasmettere, distribuire, pubbblicare, vendere, rivendere, sfruttare a fini commerciali o trasferire in altro modo materiali del Sito o modificare o creare opere derivate dal materiale del Sito. L'onere di determinare che l'uso di informazioni, software o qualunque contenuto sul Sito è ammesso ricade sull'utente. Del contenuto sul Sito è fornito da terze parti, è l'uso di quel contenuto è soggetto a norme e restrizioni come indicato sul Sito. Tu accetti di essere vincolato da tali norme e restrizioni.</p>
      </li>

      <li>
        <h3><span>Attestato di partecipazione (certificate of accomplishment)</span></h3>
          <p>Previa prestazione soddisfacente e previo completamento del corso, potresti ottenere un attestato di partecipazione (certificate of accomplishment) firmato dal docente / docenti. Polimi si riserva il diritto di decidere se verrà rilasciato un attestato per il corso online e la natura delle informazioni da indicare sull'attestato. Riconosci che nessun attestato  sostituisce un corso seguito presso Polimi o presso un'istituzione accreditata, né conferisce crediti accademici, voti o laurea né indica l'iscrizione a Polimi. Riconosci inoltre che i docenti di un corso online non saranno coinvolti in nessun tentativo di far riconoscere il corso da un'istituzione didattica o accreditata.</p>    
      </li>

      <li>
        <h3><span>Legge applicabile</span></h3>
        <p>POK è gestito da Polimi, Milano, Italia. Questi Termini e la <a href="/privacy#it" target="_blank">politica sulla privacy</a> sono disciplinati ed interpretati secondo la legge italiana. Le disposizioni sono state scritte sia in Italiano che in Inglese. Entrambe le versioni sono ugualmente valide ed efficaci ma, in presenza di incongruenze tra le due versioni, quella italiana prevale.
        </p>
      </li>

      <li>
        <h3><span>Esclusione di garanzia / Limitazione di responsabilità</span></h3>
        <p>In circostanze normali, il Sito è accessibile 24 ore su 24, tutti i giorni della settimana, tranne durante le interruzioni del servizio dovute a interventi di manutenzioni programmati o di emergenza o ad eventi di forza maggiore. POK non si assume alcuna responsabilità per perdite o danni di qualunqe tipo  derivanti dalla non disponibilità del Sito. POK non è responsabile dei contenuti forniti nei corsi online ospitati sul Sito.</p>
        
        <p>Polimi si riserva il diritto di modificare, sospendere o interrompere, temporaneamente o permanentemente, POK (o qualunque sua parte) senza preavviso.</p>
        
        <p>Accetti il fatto che Polimi non è responsabile nei tuoi confronti in caso di perdite o danni, effettivi o consequenziali, derivanti o correlati a questi termini o al tuo (o di altre terze parti) uso del Sito o incapacità di usare il Sito, o all'inserimento da parte tua di contenuto sul Sito, o al tuo fare affidamento su informazioni ottenute dal Sito o attraverso di esso.</p>
        
        <p>Accetti che: Polimi, a sua esclusiva discrezione, può terminare il tuo uso del Sito o la tua partecipazione a un corso online; Polimi non avrà nessuna responsabilità nei tuoi confronti per questo; non hai diritto a crediti per i corsi né a procedure di contestazione studentesche o accademiche legate a ciò.</p>
        
        <p>Se non desideri più partecipare al Sito, avvisa Polimi inviando una email a ${_('{email}').format(
          email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}.</p>
        
      </li>

      <li>
        <h3><span>Manleva</span></h3>
        <p>Tu accetti di manlevare e tenere indenne Polimi da reclami, azioni, richieste di risarcimento, perdite o danni, incluse le spese legali, derivanti  risultanti o in qualsiasi modo collegati alla tua partecipazione a un corso online, all'uso del Sito, all'inserimento di contenuti sul Sito o alla violazione di questi Termini.</p>
      </li>

      <li>
        <h3><span>Link esterni</span></h3>
        <p>Per tua comodità potremmo fornirti link a siti gestiti da organizzazioni diverse da Polimi (siti di terza parte) che riteniamo potrebbero interessarti. Polimi non divulga i tuoi dati personali ai siti di queste terze parti senza aver ottenuto il tuo consenso. Polimi non dà avallo e non è responsabile per le prassi in  materia di privacy adottate da questi siti di terza parte. Se scegli di cliccare su un link a uno di questi siti di terza parte, dovresti rivedere la politica sulla privacy pubblicata sull'altro sito per capire come quel sito di terza parte raccoglie ed utilizza i tuoi dati personali.</p>
        
        <p>Il Sito può includere collegamenti ipertestuali a siti gestiti o controllati da altri. Polimi non ne è responsabile né li controlla sistematicamente, né approva, revisiona o sottoscrive i contenuti o l'uso dei prodotti e servizi che potrebbero essere offerti in altri siti.</p>
      </li>

      <li>
        <h3><span>Politica sulla privacy</span></h3>
        <p>Ti invitiamo a leggere la nostra <a href="/privacy#it" target="_blank">politica sulla privacy</a>, aggiornata in ottemperanza al  GDPR - General Data Protection Regulation dell'Unione Europea.</p>
      </li>

      <li>
        <h3><span>Protezione della privacy dei bambini</span></h3>
        <p>Sul sito non raccogliamo né conserviamo consapevolmente dati a carattere personale di persone al di sotto dei 14 anni di età, e nessuna parte del Sito si rivolge a persone al di sotto dei 14 anni. Se hai meno di 14 anni, non usare e non accedere al Sito in nessun momento e in nessun modo. Nel momento in cui venisse a conoscenza dell'esistenza di dati personali di persone al di sotto dei 14 anni di età raccolte sul Sito senza il consenso verificato dei genitori, Polimi adotterà le opportune misure per cancellare tali dati.</p>
      </li>

      <li>
        <h3><span>Come contattare Polimi</span></h3>
        <p>Se hai domande sui Termini o desideri segnalare malfunzionamenti, puoi inviare una email a ${_('{email}').format(
          email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}.</p>
      </li>
    </ol>
</section>

<section class="container tos">
  <h2 class="first">Terms of Service - English</h2>

  <p><strong>IN ORDER TO PARTICIPATE IN POLIMI OPEN KNOWLEDGE (“POK”) COURSES OR ACCESS ANY RESOURCES OFFERED BY POLITECNICO DI MILANO (“POLIMI”) AT <a href="https://www.pok.polimi.it" target="_blank">www.pok.polimi.it</a> (“SITE”), YOU MUST FIRST CAREFULLY READ AND AGREE TO THESE TERMS OF SERVICE (“TERMS”). BY ACCESSING AND PARTICIPATING IN THE COURSES, YOU HAVE INDICATED THAT YOU HAVE READ THESE TERMS AND AGREE TO BE BOUND BY AND COMPLY WITH THEM. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, PLEASE PROMPTLY EXIT THE SITE.</strong></p>
  <p><strong>POLIMI RESERVES THE RIGHT TO MODIFY THESE TERMS AT ANY TIME AND WILL PUBLISH NOTICE OF ANY MODIFICATIONS ON-LINE AT THIS SITE. BY CONTINUING TO ACCESS THE SITE AFTER NOTICE OF SUCH MODIFICATIONS HAS BEEN PUBLISHED, YOU SIGNIFY YOUR AGREEMENT TO BE BOUND BY THEM.</strong></p>

  <ol>
    <li>
      <h3><span>Object and purpose</span></h3>
      <p>Polimi provides the online platform POK which hosts MOOCs (Massive Open Online Courses) created by Polimi, other organizations and POK partners based in Italy and throughout the world. By registering for an online course offered on the Site, you join a worldwide community of learners. POK endeavors to provide you access to online courses and learning materials wherever you are located.
        </p>
    </li>
    <li>
      <h3><span>Eligibility</span></h3>
      <p>Registration and participation in POK and its online courses is restricted to those individuals over 18 years of age, emancipated minors, or those who possess legal parental or guardian consent, and are fully able and competent to enter into these terms, conditions, obligations, affirmations, representations and warranties herein. In any case, you affirm that you are over the age of 14 since access to the Site is not intended for children under 14. If you are under 14 years of age, do not use the Site. If you have questions about the applicability of this policy, please contact us at ${_('{email}').format(
        email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}. Certain courses may also have additional eligibility requirements as specified in the specific course description. If you are not eligible for registration and participation or do not agree to the Terms, you may not use the Site.</p>
    </li>

    <li>
      <h3><span>Rules for online conduct</span></h3>
     
<p>As a user of the Site, you are liable for any information that you publish on the Site, as well as for the manner in which you use the Site. Publications include all content contributed, posted or displayed by you or by other users on the Site. Such user-related content is understood to mean any texts, photographs, videos, content in other media formats or discussions that are transmitted, communicated, or otherwise presented on interactive spaces (forums, social networks), and work submitted as part of course assignments (including peer assessment assignments). </p>

<p>Accordingly, you agree to abide by all applicable laws and prevailing rules of conduct for
computer and network use, notably by refraining from intentionally
engaging in any activities that constitute or may give rise to:</p>
<ul class="simple"><li>identity theft;</li>
<li>stealing passwords from other users;</li>
<li>modifying, altering or destroying data that does not
belong to you;</li>
<li>monitoring or inspecting data belonging to other users,
without their authorization;</li>
<li>connecting to or attempting to connect to an account without proper
authorization;</li>
<li>letting someone use your user name and/or your password;</li>
<li>diverting one of the Site’s
functions or features, causing it to deviate from normal use;</li>
<li>damaging, disabling, overcharging, impairing or disrupting the Site, the
server or the network.</li>
</ul>

<p>You may not use the Site via any automated means, such as a screen-scraper or robot. This is not intended to exclude the use of assistive technology for your own use, such as screen-readers. You agree not to send any unsolicited emails to other Site users. You may not display the Site within a frame on another website, or place pop-up windows or other disruptive technologies over it.</p>
<p>You further agree to abstain from attempting, by any means whatsoever,
unauthorized access to POK and unauthorized collecting of any data
that is stored on the Site, its servers
or on associated computers, through any means not intentionally made
available to you through the Site.</p>
      <p>You further agree that you will not email or post any of the following content anywhere on the Site:</p>
      <ul>
      <li>content that defames or threatens others;</li>
      <li>harassing statements or content that violates the applicable laws;</li>
      <li>content that discusses illegal activities with the intent to commit them;</li>
      <li>content related to partisan political activities;</li>
      <li>material that contains obscene (i.e. pornographic) language or images;</li>
      <li>advertising or any form of commercial solicitation;</li>
      <li>content that is otherwise unlawful;</li>
      <li>intentionally misleading or inaccurate content;</li>
      <li>content that infringes another's intellectual property, including, but not limited to, copyrights, trademarks or trade secrets.</li>
      </ul>
      <p>Copyrighted material, including without limitation software, graphics, text, photographs, sound, video and musical recordings, may not be placed on the Site without the express permission of the owner of the copyright in the material, or other legal entitlement to use the material.</p>
      <p>You agree that, if a third party claims that any material you have contributed to the Site is unlawful, you will bear the burden of establishing that the material complies with all applicable laws. Although Polimi does not monitor the content of the Site, Polimi has the right to remove material from the Site, block access, or take other action with respect to the material in its sole discretion.</p>
      <p>By submitting or distributing your user postings, you agree to allow such contents to be reproduced and disseminated potentially worldwide, though solely for the purposes of the online courses, unless otherwise specified in the relevant courses.</p>

      
    </li>
<li>
      <h3><span>Recommendations to users</span></h3>
      <p>Unless your online instructor indicates otherwise, you are encouraged to:</p>

<ul class="simple">
<li>discuss general concepts and course materials for each course with the other learners while relying on the collaborative tools available;</li>
<li>make sure that the full name you give is the one you want to appear on any certificate of accomplishment;</li>
<li>choose your user name carefully, bearing in mind that it cannot be subsequently modified and that it will be visible to the other participants.</li>
</ul>
      
<li>
      <h3><span>Users’ undertakings</span></h3>
      <p>In addition to the rules for online conduct set forth in the Terms and in the <a href="/privacy#en" target="_blank">privacy policy</a>, you undertake to:</p>
<ul class="simple">
  <li>not engage in any form of cheating aimed at artificially enhancing your assessments or results;</li>
<li>not attempt to artificially enhance or lower the assessments or results of others;</li>
<li>observe the intellectual property rights granted under the user license attaching to each online course featured on the Site.</li>
</ul>
    </li>
      
    </li>

    <li>
      <h3><span>Content disclaimer</span></h3>
      <p>The text and other material on the online courses may include the opinion of the specific instructor and are not statements of advice, opinion, or information of Polimi. If you feel you might be offended by the content of the online courses, you should not continue.</p>
      <p>Online courses may also include the personal opinions and other expressions by users who post entries on a wide range of topics. Neither the content of the forums, nor the links to other web sites, are screened, approved, reviewed or endorsed by Polimi.</p>
    </li>

    <li>
      <h3><span>User accounts</span></h3>
      <p>In order to fully participate in all Site activities, you have to sign up for a POK user account (name, username, email address); if you have the credentials to access Polimi online services, please use them to enter the Site via single sign-on. </p>
        <p>You agree that you will never divulge or share access or access information to your user account with any third party for any reason.</p>
      <p>In setting up your user account, you may be prompted or required to enter additional information. You understand and agree that all information provided by you is accurate, current and complete and that you will maintain and update your information to keep it accurate, current and complete. You acknowledge that if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to terminate your use of the online courses.</p>
    </li>

    <li>
    <h3><span>Course modification or cancellation</span></h3>
      <p>The online courses, including the course materials, may contain errors and omissions. We reserve the right to correct errors or omissions without prior notice. We also reserve the right to cancel, discontinue, reschedule, delay, change instructors or modify any course or service.</p>
      <p>You acknowledge that the course content of the online course does not reflect the complete curriculum of a course that may be offered to students enrolled at Polimi.</p>
      <p>We will study course participation to learn how to enhance both our course offering and the online learning experience. In the interests of these research studies, you may be exposed to slight variations in the course materials that will not substantially alter your learning experience.</p>
    </li>

    <li>
      <h3><span>Use of Site and materials</span></h3>
      <p>Unless otherwise indicated, the Site and content are the property of Polimi. Except where otherwise specified, user may not  copy, reproduce, duplicate, retransmit, distribute, publish, sell, resell, commercially exploit or otherwise transfer any material of the Site or modify or create derivative works of the material of the Site. The burden of determining that use of any information, software or any other content on the Site is permissible rests with user. Some content on the Site is provided by third parties, and the use of that content is subject to rules and restrictions as indicated on the Site. You agree to be bound by all such rules and restrictions.</p>
    </li>

    <li>
      <h3><span>Certificate of accomplishment</span></h3>
           <p>Subject to satisfactory performance and course completion, you may achieve a certificate of accomplishment (“Certificate”) signed by the instructor(s). Polimi reserves the right to determine whether a Certificate will be issued for the online course and the nature of the information to be provided in the certificate. You acknowledge that any certificate will not stand in the place of a course taken at Polimi or an accredited institution or confer any academic credit, grade or degree or indicate enrollment at Polimi. You further acknowledge that instructors of any online course will not be involved in any attempts to get the course recognized by any educational or accredited institution.</p>
    </li>

    <li>
      <h3><span>Governing law</span></h3>
      <p>POK is managed by Polimi, located in Milan, Italy. These Terms and <a href="/privacy#en" target="_blank">privacy policy</a> shall be governed by and interpreted according to Italian law. The provisions of each have been written in both English and Italian languages. Both versions shall be equally valid and effective but, in the event of inconsistency between the two versions, the Italian version shall prevail.
      </p>
    </li>

    <li>
      <h3><span>Disclaimers of warranty/Limitations of liabilities</span></h3>
      <p>Under normal circumstances, the Site is accessible 24 hours a day every day of the week, except during service interruptions due to scheduled maintenance or unscheduled emergency maintenance or due to the occurrence of a force majeure event. POK assumes no liability for any loss or damage of any kind resulting from the unavailability of the Site. POK bears no responsibility for contents provided in online courses hosted by the Site.</p>
      <p>Polimi reserves the right to modify, suspend or discontinue, temporarily or permanently, POK (or any part thereof) without notice.</p>
      <p>You agree that Polimi will not be liable to you for any loss or damages, either actual or consequential, arising out of or relating to these terms, or to your (or any third party's) use or inability to use the Site, or to your placement of content on the Site, or to your reliance upon information obtained from or through the Site.</p>
     
      <p>You agree that: Polimi, in its sole discretion, may terminate your use of the Site or your participation in an online course; Polimi shall not have any liability to you for the termination; and that you are not entitled to any course credit or to any student or academic grievance procedures in connection with such a termination.</p>
      <p>If you no longer desire to participate in the Site, you may terminate your participation therein upon notice to Polimi
       ${_('{email}').format(
        email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}      .</p>
      
    </li>

    <li>
      <h3><span>Indemnification</span></h3>
      <p>You agree to indemnify and hold Polimi harmless from any claims, actions, demands, losses or damages, including legal fees, arising out of, resulting from or in any way related to your participation in an online course, use of the Site, placement of any content onto the Site or violation of these Terms.</p>
    </li>

    <li>
      <h3><span>External links</span></h3>
      <p>For your convenience we may provide links to sites operated by organizations other than Polimi (third party sites) that we believe may be of interest to you. Polimi does not disclose your Personally Identifiable Information to these third party sites without obtaining your consent. Polimi does not endorse and is not responsible for the privacy practices of these third party sites. If you choose to click on a link to one of these third party sites, you should review the privacy policy posted on the other site to understand how that third party site collects and uses your personally identifiable information.</p>
    <p>The Site may include hyperlinks to sites maintained or controlled by others. Polimi is not responsible for and does not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at other sites.</p>
    </li>

    <li>
      <h3><span>Privacy policy</span></h3>
      <p>We encourage you to read our <a href="/privacy#en" target="_blank">privacy policy</a>, updated in compliance with the General Data Protection Regulation (GDPR) of the European Union.</p>
    </li>

    <li>
      <h3><span>Protecting children's privacy</span></h3>
      <p>We do not knowingly collect or maintain Personally Identifiable Information on our Site from persons under 14 years of age, and no part of our Site is directed to persons under 14 years of age. If you are under 14 years of age, then please do not use or access this Site at any time or in any manner. Polimi will take appropriate steps to delete any Personally Identifiable Information of persons less than 14 years of age that has been collected on our Site without verified parental consent upon learning of the existence of such Personally Identifiable Information.</p>
    </li>

    <li>
      <h3><span>Contacting Polimi</span></h3>
      <p>To ask any questions regarding these Terms or to report any malfunctioning, you may contact Polimi at ${_('{email}').format(
        email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}.</p>
    </li>

  </ol>

  <h3 style="text-align:right">Effective date: November 30, 2018</h3>

</section>
