<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Terms of Service</title></%block>

<section class="container tos">
  <h2 class="first">Terms of Service</h2>

  <p><strong>IN ORDER TO PARTICIPATE IN POLIMI OPEN KNOWLEDGE (“POK”) COURSES OR ACCESS ANY ONLINE SITES OR RESOURCES OFFERED BY POLIMI AT <a href="www.pok.polimi.it">www.pok.polimi.it</a> OR SUCH OTHER LOCATION UNDER THE POLIMI DOMAIN TO WHICH THOSE SITES OR RESOURCES MAY MOVE (“SITE”), YOU MUST FIRST CAREFULLY READ AND AGREE TO THESE TERMS OF SERVICE,
   AND PRIVACY POLICY (“TERMS”). BY ACCESSING AND PARTICIPATING IN THE SITES, YOU HAVE INDICATED THAT YOU HAVE READ THESE TERMS AND AGREE TO BE BOUND BY AND COMPLY WITH THEM. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, PLEASE PROMPTLY EXIT ALL SITES.</strong></p>
  <p><strong>POLITECNICO DI MILANO UNIVERSITY (“POLIMI”) RESERVES THE RIGHT TO MODIFY THESE TERMS AT ANY TIME AND WILL PUBLISH NOTICE OF ANY MODIFICATIONS ON-LINE AT THIS SITE. BY CONTINUING TO ACCESS A SITE AFTER NOTICE OF SUCH MODIFICATIONS HAS BEEN PUBLISHED, YOU SIGNIFY YOUR AGREEMENT TO BE BOUND BY THEM.</strong></p>

  <ol>

    <li>
      <h3><span>Eligibility</span></h3>
      <p>Registration and participation in the Sites and online courses is restricted to those individuals over 18 years of age, emancipated minors, or those who possess legal parental or guardian consent, and are fully able and competent to enter into these terms, conditions, obligations, affirmations, representations and warranties herein. In any case, you affirm that you are over the age of 13 since access to the Site is not intended for children under 13. If you are under 13 years of age, do not use the Site. If you have questions about the applicability of this policy, please contact us at ${_('{email}').format(
        email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}. Certain courses may also have additional eligibility requirements as specified in the specific course description. If you are not eligible for registration and participation or do not agree to the Terms, you may not use the Site.</p>
    </li>

    <li>
      <h3><span>Rules for Online Conduct</span></h3>
      <p>You agree to use the Sites in accordance with all applicable laws. You further agree that you will not e-mail or post any of the following content anywhere on the Site, or on any other Polimi computing resources:</p>
      <ul>
      <li>Content that defames or threatens others</li>
      <li>Harassing statements or content that violates federal or state law</li>
      <li>Content that discusses illegal activities with the intent to commit them</li>
      <li>Content that infringes another's intellectual property, including, but not limited to, copyrights, trademarks or trade secrets</li>
      <li>Content related to partisan political activities</li>
      <li>Material that contains obscene (i.e. pornographic) language or images</li>
      <li>Advertising or any form of commercial solicitation</li>
      <li>Content that is otherwise unlawful</li>
      <li>Intentionally misleading or inaccurate content</li>
      </ul>
      <p>Copyrighted material, including without limitation software, graphics, text, photographs, sound, video and musical recordings, may not be placed on the Site without the express permission of the owner of the copyright in the material, or other legal entitlement to use the material.</p>

      <p>You agree not to attack, disrupt, disable or harm the Site, or servers or networks connected to the Site. You may not use the Site via any automated means, such as a screen-scraper or robot.&nbsp;&nbsp;This is not intended to exclude the use of assistive technology for your own use, such as screen-readers.&nbsp;&nbsp;You agree not to send any unsolicited emails to other Site Users. You may not display the Site within a frame on another website, or place pop-up windows or other disruptive technologies over it.</p>
    </li>

    <li>
      <h3><span>Content Disclaimer</span></h3>
      <p>The text and other material on the Sites may include the opinion of the specific instructor and are not statements of advice, opinion, or information of Polimi. If you feel you might be offended by the content of the Sites, you should not continue.</p>
      <p>Sites may also include the personal opinions and other expressions by Users who post entries on a wide range of topics. Neither the content of the forums, nor the links to other web sites, are screened, approved, reviewed or endorsed by Polimi or any other related entity. Polimi is not a publisher of any of the content of the forums, or of any content that may be available through links to and from them.</p>
    </li>

    <li>
      <h3><span>User Accounts</span></h3>
      <p>In order to fully participate in all Site activities, you must provide an email address ("Email Address") and a user password ("User Password"). You agree that you will never divulge or share access or access information to your User Account with any third party for any reason.</p>
      <p>In setting up your User Account, you may be prompted or required to enter additional information, including but not limited to your name and location. Additional information may be required to confirm your identity. You understand and agree that all information provided by you is accurate, current and complete and that you will maintain and update your information to keep it accurate, current and complete. You acknowledge that if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to terminate your use of the Sites.</p>
    </li>

    <li>
    <h3><span>Course Modification or Cancellation</span></h3>
      <p>The Sites, including the course materials, may contain errors and omissions. We reserve the right to correct errors or omissions without prior notice. We also reserve the right to cancel, discontinue, reschedule, delay, change instructors or modify any course or service.</p>
      <p>You acknowledge that the course content of the online course does not reflect the complete curriculum of a course that may be offered to students enrolled at Polimi.</p>
      <p>We will study course participation to learn how to enhance both our course offerings and the online learning experience. In the interests of these research studies, you may be exposed to slight variations in the course materials that will not substantially alter your learning experience.</p>
    </li>

    <li>
      <h3><span>Use of Site and Materials</span></h3>
      <p>Unless otherwise indicated, the Site and content are the property of Polimi. In consideration for your agreement to the terms and conditions contained here, Polimi grants you a personal, non-exclusive, non-transferable license to access and use the Site. User may download material from the Site only for User's own personal, non-commercial use. User may not otherwise copy, reproduce, duplicate, retransmit, distribute, publish, sell, resell, commercially exploit or otherwise transfer any material or modify or create derivative works of the material. The burden of determining that use of any information, software or any other content on the Site is permissible rests with User. Some content on the Site is provided by third parties, and the use of that content is subject to rules and restrictions as indicated on the Site. You agree to be bound by all such rules and restrictions.</p>
    </li>

    <li>
      <h3><span>User Content</span></h3>
      <p>You may be permitted to submit and distribute materials in connection with an online course (“User Content”). You represent and warrant that any material you submit to the Site, instructors or other Users is accurate and complete and&nbsp;&nbsp;will not violate or infringe the rights of any third party, including without limitation privacy, publicity, intellectual property and any other proprietary rights, such as copyright, trademark and patent rights. You represent and warrant that you have all the necessary rights and licenses to use the material and to permit use of the material by Polimi.</p>
      <p>You agree that, if a third party claims that any material you have contributed to a Site is unlawful, you will bear the burden of establishing that the material complies with all applicable laws. Although Polimi does not monitor the content of the Site, Polimi has the right to remove material from the Site, block access, or take other action with respect to the material in its sole discretion.</p>
      <p>By your submission of any material, you hereby grant Polimi an irrevocable, non-exclusive, royalty free, fully transferable, worldwide license to use, disclose, reproduce, distribute, prepare derivative works of, publicly perform and publicly display any such submission.&nbsp;You hereby grant Users in your online course a license to use your User Content (including the right to copy, modify and distribute such content) in conjunction with their participation in the course.</p>
    </li>

    <li>
      <h3><span>User Status and Statement of Accomplishment</span></h3>
      <p>You agree and acknowledge that your access to the Site, participation in an online course and your agreement to these Terms do not confer any right to access or use the resources of Polimi or establish any relationship with Polimi or its instructors beyond the Site and that you are not entitled to any student or academic grievance procedures.</p>
      <p>Subject to satisfactory performance and course completion, you may receive a Statement of Accomplishment (“Statement”) signed by the instructor(s). Polimi reserves the right to determine whether a Statement will be issued for the online course and the nature of the information to be provided in the Statement. You acknowledge that any Statement will not stand in the place of a course taken at Polimi or an accredited institution or confer any academic credit, grade or degree or indicate enrollment at Polimi. You further acknowledge that instructors of any online course will not be involved in any attempts to get the course recognized by any educational or accredited institution.</p>
    </li>

    <li>
      <h3><span>Links to Other Sites</span></h3>
      <p>The Site may include hyperlinks to sites maintained or controlled by others. Polimi is not responsible for and does not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at other sites.</p>
    </li>

    <li>
      <h3><span>Choice of Law/Forum Selection</span></h3>
      <p>The Sites are managed by Polimi, located in Milan, Italy. You agree that any dispute arising out of or relating to these Terms or any content posted to a Site, including copies and republication thereof, whether based in contract, tort, statutory or other law, will be governed by the laws of the State of Italy, excluding its conflicts of law provisions. </p>
    </li>

    <li>
      <h3><span>Disclaimer of Warranty/Limitation of Liabilities</span></h3>
      <p>THESE SITES AND ANY INFORMATION, PRODUCTS OR SERVICES THEREIN ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR USE OF A PARTICULAR PURPOSE, OR NONINFRINGEMENT.</p>
      <p>Polimi does not warrant, and hereby disclaims any warranties, either express or implied, with respect to the accuracy, adequacy or completeness of any Site, information obtained from a Site, or link to a Site. Polimi does not warrant that the Site will operate in an uninterrupted or error-free manner or that the Site is free of viruses or other harmful components. Use of information obtained from or through the Site is at your own risk.</p>
      <p>YOU AGREE THAT POLIMI WILL NOT BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES, EITHER ACTUAL OR CONSEQUENTIAL, ARISING OUT OF OR RELATING TO THESE TERMS, OR TO YOUR (OR ANY THIRD PARTY'S) USE OR INABILITY TO USE A SITE, OR TO YOUR PLACEMENT OF CONTENT ON A SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH A SITE. IN PARTICULAR, POLIMI WILL HAVE NO LIABILTY FOR ANY CONSEQUENTIAL, INDIRECT, PUNITIVE, SPECIAL OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR DEFAMATION, ERRORS, LOSS OF DATA, OR INTERRUPTION IN AVAILABILITY OF DATA), ARISING OUT OF OR RELATING TO THESE TERMS, YOUR USE OR INABILITY TO USE A SITE, OR YOUR PLACEMENT OF CONTENT ON A SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH A SITE, WHETHER BASED IN CONTRACT, TORT, STATUTORY OR OTHER LAW, EXCEPT ONLY IN THE CASE OF DEATH OR PERSONAL INJURY WHERE AND ONLY TO THE EXTENT THAT APPLICABLE LAW REQUIRES SUCH LIABILITY.</p>
      <p>WITHOUT LIMITING THE FOREGOING, POLIMI DOES NOT WARRANT THAT (A) THE SITE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS OR ACHIEVE THE INTENDED PURPOSES, (B) THE SITE WILL NOT EXPERIENCE OUTAGES OR OTHERWISE BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, (C) THE INFORMATION OBTAINED THROUGH FROM THE SITE WILL BE ACCURATE, COMPLETE, CURRENT, ERROR-FREE, COMPLETELY SECURE OR RELIABLE, OR (D) THAT DEFECTS IN OR ON THE SITE WILL BE CORRECTED.</p>
      <p>Polimi makes no representation regarding your ability to transmit and receive information from or through the Site and you agree and acknowledge that your ability to access the Site may be impaired. Polimi disclaims any and all liability resulting from or related to such events.</p>
    </li>

    <li>
      <h3><span>Termination Rights</span></h3>
      <p>You agree that: Polimi, in its sole discretion, may terminate your use of the Site or your participation in an online course, for any reason or no reason and at any time; Polimi shall not have any liability to you for the termination; and that you are not entitled to any course credit or to any student or academic grievance procedures in connection with such a termination.</p>
      <p>If you no longer desire to participate in the Site, you may terminate your participation therein upon notice to Polimi.</p>
    </li>

    <li>
      <h3><span>Trademarks</span></h3>
      <p>The logos, names and graphics on the Site of Polimi or any of its affiliates, may be trademarks of Polimi or its affiliates. Use, reproduction, copying or redistribution of Polimi trademarks, without the prior written permission of Polimi or its affiliates, is prohibited. All other trademarks or servicemarks appearing on the Site are the marks of their respective owners. Information about Polimi trademarks may be found at <a href="http://www.polimi.it">http://www.polimi.it</a>.</p>
    </li>

    <li>
      <h3><span>Indemnification</span></h3>
      <p>You agree to indemnify and hold Polimi and its instructors, trustees, officers, agents, employees, and assignees, harmless from any claims, actions, demands, losses or damages, including legal fees, arising out of, resulting from or in any way related to your participation in an online course, use of a Site placement of any content onto a Site or violation of these Terms. You further agree to fully cooperate in Polimi's defense against any such claims.</p>
    </li>

    <li>
      <h3><span>External Links</span></h3>
      <p>For your convenience we may provide links to sites operated by organizations other than Polimi ("Third Party Sites") that we believe may be of interest to you. Polimi does not disclose your Personally Identifiable Information to these Third Party Sites without obtaining your consent. Polimi does not endorse and is not responsible for the privacy practices of these Third Party Sites. If you choose to click on a link to one of these Third Party Sites, you should review the privacy policy posted on the other site to understand how that Third Party Site collects and uses your Personally Identifiable Information.</p>
    </li>

    <li>
      <h3><span>Privacy Policy</span></h3>
      <p>We encourage you to read our <a href="/privacy">privacy policy</a>, updated in compliance with the General Data Protection Regulation (GDPR) of the European Union.</p>
    </li>

    <li>
      <h3><span>Protecting Children's Privacy</span></h3>
      <p>Polimi strongly believes in protecting the privacy of children. In line with this belief, we do not knowingly collect or maintain Personally Identifiable Information on our Site from persons under 16 years of age, and no part of our Site is directed to persons under 16 years of age. If you are under 16 years of age, then please do not use or access this Site at any time or in any manner. Polimi will take appropriate steps to delete any Personally Identifiable Information of persons less than 16 years of age that has been collected on our Site without verified parental consent upon learning of the existence of such Personally Identifiable Information.</p>
    </li>

    <li>
      <h3><span>General</span></h3>
      <p>These Terms of Service, including the Honor Code and Privacy Policy, constitute the entire agreement between you and Polimi and its affiliates with respect to the subject matter herein and supersedes any and all prior or contemporaneous oral or written agreements.</p>
    </li>

    <li>
      <h3><span>Contacting Polimi</span></h3>
      <p>If you have any questions regarding these Terms or Site, you may contact Polimi at ${_('{email}').format(
        email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}.</p>
    </li>

  </ol>

  <h3 style="text-align:right">Effective date:&nbsp;May 25, 2018</h3>

</section>
