<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
import third_party_auth
from third_party_auth import provider, pipeline
%>
<%namespace file='main.html' import="login_query"/>

<header>
  <h2 class="sr">${_("Helpful Information")}</h2>
</header>

% if settings.FEATURES.get('AUTH_USE_OPENID'):
<!-- <div class="cta cta-login-options-openid">
  <h3>${_("Login via OpenID")}</h3>
  <p>${_('You can now start learning with {platform_name} by logging in with your <a rel="external" href="http://openid.net/">OpenID account</a>.').format(platform_name=platform_name)}</p>
  <a class="action action-login-openid" href="#">${_("Login via OpenID")}</a>
</div> -->
% endif

% if settings.FEATURES['AUTH_USE_SHIB']:
<div class="cta aunica-login">
  <h3><span class="it">Utente POLIMI</span><span class="locale-separator">/</span><span class="en">POLIMI user</span></h3>
  <p class="instructions">
    <a class="link2button" href="${reverse('shib-login')}${login_query()}">
     POLIMI Login
    </a>
  </p>
</div>
% endif

<div class="cta cta-signup">
  <h3><span class="it">Non sei iscritto?</span><span class="locale-separator">/</span><span class="en">Not Enrolled?</span></h3>
  <p><a class="link2button" href="${reverse('register_user')}">Register Now</a></p>
</div>



<div class="cta cta-help">
   <h3><span class="it">Serve Aiuto</span><span class="locale-separator">/</span><span class="en">Need help?</span></h3>
   <p>${_('{email}').format(
    email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}</p>
 </div>

% if third_party_auth.is_enabled():
    % for enabled in provider.Registry.get_enabled_by_backend_name("ecoopenid-auth"):
      <div class="cta eco-login">
        <h3><span class="it">Utente <a href="http://ecolearning.eu/" target="_blank">ECO</a></span><span class="locale-separator">/</span><span class="en"><a href="http://ecolearning.eu/" target="_blank">ECO</a> User</span></h3>
        <p class="instructions">
        <a class="link2button" onclick="thirdPartySignin(event, '${pipeline.get_login_url(enabled.provider_id, pipeline.AUTH_ENTRY_LOGIN)}');">
           	<span class="icon ${enabled.icon_class}"></span>${_('Sign in with {provider_name}').format(provider_name=enabled.name)}
           </a>
        </p>
      </div>
    % endfor
% endif
