<!DOCTYPE html>
{% load compressed %}{% load sekizai_tags i18n microsite %}{% load url from future %}{% load staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  {% block title %}<title>{% platform_name %}</title>{% endblock %}

  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />

  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}
  {% compressed_css 'style-course-vendor' %}
  {% compressed_css 'style-course' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

<link rel="stylesheet" href="${static.url('themes/polimix/css/vendor/polimi-identity.css')}" />
<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:500,400,700' rel='stylesheet' type='text/css'> 
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic,400italic,700italic,900italic,' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
  <meta name="google-site-verification" content="ZyswrIdUIIXboFQtBx6ha6R8DTvA46T-4yILTOTfF7o" />
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
  <a class="nav-skip" href="{% block nav_skip %}#content{% endblock %}">{% trans "Skip to this view's content" %}</a>
  {% with course=request.course %}
    {% if IS_EDX_DOMAIN %}
      {% include "navigation-edx.html" %}
    {% else %}
      {% include "theme-header.html" %}
    {% endif %}
  {% endwith %}
  <div class="content-wrapper" id="content">
    {% block body %}{% endblock %}
    {% block bodyextra %}{% endblock %}
  </div>
  {% if IS_REQUEST_IN_MICROSITE %}
  {# For now we don't support overriden Django templates in microsites. Leave footer blank for now which is better than saying Edx.#}
  {% elif IS_EDX_DOMAIN %}
    {% include "footer-edx-new.html" %}
  {% else %}
    {% include "footer.html" %}
  {% endif %}

  {% compressed_js 'application' %}
  {% compressed_js 'module-js' %}

  {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
