<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from third_party_auth import provider, pipeline
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

% if settings.FEATURES['AUTH_USE_SHIB']:
<div class="cta aunica-login">
  <h3><span class="it">Utente POLIMI</span><span class="locale-separator">/</span><span class="en">POLIMI user</span></h3>
  <p class="instructions">
    <a class="link2button" href="${reverse('shib-login')}${login_query()}">
     POLIMI Login
    </a>
  </p>
</div>
% endif

<div class="cta already-registered">
  <h3 class="title"><span class="it">Già Registrato?</span><span class="locale-separator">/</span><span class="en">Already Registered?</span></h3>
  <p class="instructions">
  	 <a class="link2button cta-login-action" href="${reverse('signin_user')}${login_query()}">
     POK Login
    </a>
  </p>
</div>


% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
% if not stanford_theme_enabled():
##  <div class="cta cta-welcome">
##    <h3>${_("Welcome to {platform_name}").format(platform_name=platform_name)}</h3>
##    <p>${_("Registering with {platform_name} gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.").format(platform_name=platform_name)}</p>
##  </div>

% endif

## <div class="cta cta-nextsteps">
##  <h3>${_("Next Steps")}</h3>
  % if stanford_theme_enabled():
##    <p>${_("You will receive an activation email.  You must click on the activation link to complete the process.  Don't see the email?  Check your spam folder and mark emails from class.stanford.edu as 'not spam', since you'll want to be able to receive email from your courses.")}</p>
  % else:
##    <p>${_("As part of joining {platform_name}, you will receive an activation email.  You must click on the activation link to complete the process.  Don't see the email?  Check your spam folder and mark {platform_name} emails as 'not spam'.  At {platform_name}, we communicate mostly through email.").format(platform_name=platform_name)}</p>
  % endif
## </div>

<!-- % if settings.MKTG_URL_LINK_MAP.get('FAQ'): -->
<!--   <div class="cta cta-help"> -->
<!--     <h3>${_("Need Help?")}</h3> -->
<!--    <p>${_("Need help in registering with {platform_name}?").format(platform_name=platform_name)} -->
<!--       <a href="${marketing_link('FAQ')}"> -->
<!--           ${_("View our FAQs for answers to commonly asked questions.")} -->
<!--       </a> -->
<!--       ${_("Once registered, most questions can be answered in the course specific discussion forums or through the FAQs.")}</p> -->
<!--   </div> -->
<!-- % endif -->
<div class="cta cta-help"> 
   <h3><span class="it">Serve AIUTO?</span><span class="locale-separator">/</span><span class="en">Need HELP?</span></h3>
   <p>${_('{email}').format(
    email='<a href="mailto:{email}">{email}</a>'.format(email=settings.TECH_SUPPORT_EMAIL))}</p>
  </div>
  
% if microsite.get_value('ENABLE_THIRD_PARTY_AUTH', settings.FEATURES.get('ENABLE_THIRD_PARTY_AUTH')):
<%
 enabled=provider.Registry.get_enabled_by_backend_name("ecoopenid-auth")
%>
<div class="cta eco-login">
  <h3><span class="it">Utente <a href="http://ecolearning.eu/" target="_blank">ECO</a></span><span class="locale-separator">/</span><span class="en"><a href="http://ecolearning.eu/" target="_blank">ECO</a> User</span></h3>
  <p class="instructions">
     <a class="link2button" onclick="thirdPartySignin(event, '${pipeline.get_login_url(enabled.provider_id, pipeline.AUTH_ENTRY_REGISTER)}');">
     	<span class="icon ${enabled.icon_class}"></span>${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
     </a>
  </p>
</div>
% endif
