## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/polimix/css/vendor/polimi-identity.css')}" />
<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:500,400,700' rel='stylesheet' type='text/css'> 
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic,400italic,700italic,900italic,' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      alert("Warning: you are using an unsupported browser\nand may be unable to use some features.\n\nWe suggest you use either Mozilla Firefox or\nGoogle Chrome.");
    });
  </script>
<![endif]-->

<meta property="og:image" content="${static.url('themes/polimix/image/ogimage.jpg')}"/>
<meta property="og:title" content="POK"/>
<meta property="og:site_name" content="POK"/>
<meta property="og:description" content="Polimi Open Knowledge"/>