## mako 
<%! from django.core.urlresolvers import reverse %> 
<%namespace name='static' file='/static_content.html'/>


<div class="wrapper-footer">
	<footer>
		<div class="colophon">
			<nav class="nav-colophon">
				<h1 class="logo">
					<a href="http://www.polimi.it"> 
					 	<img src="${static.url('themes/polimix/images/logo_poli_home.png')}"  alt="Home page" />
					</a>
				</h1>
				<ol class="left nav-global">

					<li class="nav-global-01"><a href="/about">About</a></li>
					%if not user.is_authenticated():
					<li class="nav-global-04"><a class="cta cta-register"
						href="/register">Register Now</a></li>
					%endif
				</ol>
			</nav>
			
		</div>
		<div class="references">
				<span>Built on <a target="_blank" href="http://code.edx.org">OpenEdX</a></span>
		</div>
		<div class="terms">
			<nav class="nav-terms">
				<ol>
					<li><a href="${reverse('tos')}">Terms of Service</a></li>
					<li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
					<li><a href="${reverse('tos')}#copyright">Copyright</a></li>
				</ol>
			</nav>
			
		</div>

	</footer>
</div>

<div id="polimi-footer">
	<div class="polimi-container">
		<div class="polimi-name"><a href="http://www.polimi.it" target="_blank"><img src="${static.url('themes/polimix/images/poli_logotipo.png')}"  alt="Politecnico di Milano" /></a></div>
	</div>
</div>
