## mako 
<%! from django.core.urlresolvers import reverse %> 
<%namespace name='static' file='/static_content.html'/>


<div class="wrapper-footer">
	<footer>
		<div class="colophon">
			<nav class="nav-colophon">
				<h1 class="logo">
					<a target="_blank"  href="http://www.polimi.it"> 
					 	<img src="${static.url('themes/polimix/images/logo_poli_home.png')}"  alt="Home page" />
					</a>
				</h1>
				<ol class="left nav-global">

					<li class="nav-global-01"><a href="/about">About</a></li>
					%if not user.is_authenticated():
					<li class="nav-global-04"><a class="cta cta-register"
						href="/register">Register Now</a></li>
					%endif
					%if user.is_authenticated():
					  <li class="nav-global-02">
    					<a href="${marketing_link('COURSES')}">Find Courses</a>
  					</li>
  					%endif
				</ol>
			</nav>
			<div class="terms">
				<nav class="nav-terms">
					<ol>
						<li><a href="${reverse('tos')}">Terms of Service & Copyright</a></li>
						<li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
						<li><a href="mailto:pok@polimi.it">pok@polimi.it</a></li>
					</ol>
				</nav>
			</div>
			
		</div>
		<div class="references">
			<a href="http://openedx.org">
  				<img src="https://s3.amazonaws.com/files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png"
    				width="150" height="50" alt="Powered by Open edX" />
			</a>
			<div class="built-on">
			 Built on <a target="_blank" href="http://code.edx.org">OpenEdX</a> by <a target="_blank" href="http://www.metid.polimi.it">METID</a>in collaboration with <a target="_blank" href="http://www.asict.polimi.it">ASICT</a> 
			 </div>
		</div>
		

	</footer>
</div>

<div id="polimi-footer">
	<div class="polimi-container">
		<div class="polimi-name"><a href="http://www.polimi.it" target="_blank"><img src="${static.url('themes/polimix/images/poli_logotipo.png')}"  alt="Politecnico di Milano" /></a></div>
	</div>
</div>
