## mako
<%!
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>



<footer id="footer-edx-v3" class="pok-footer" role="contentinfo" aria-label="${_("Page Footer")}">
  <div class="footer-content-wrapper">
    <h2 class="sr footer-about-title">${_("About POK")}</h2>

    <div class="footer-nav">
			<nav class="site-nav" aria-label="${_("About POK")}">
        <ol>
          <li>
            <a target="_blank"  href="http://www.polimi.it">
              <img src="${static.url('/images/polimi_footer.svg')}" alt="Home page" />
            </a>
          </li>
  				<li><a href="/about">About</a></li>
  				%if not user.is_authenticated():
  				<li><a href="/register">Register Now</a></li>
  				%endif
  				%if user.is_authenticated():
  				<li><a href="${marketing_link('COURSES')}">Find Courses</a></li>
  				%endif
        </ol>
			</nav>
      <nav class="info-nav">
				<ol>
          <li><a href="/faq">FAQ</a></li>
					<li><a href="/tos">Terms of Service & Copyright</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<li><a class="standard-link" href="mailto:pok@polimi.it">pok@polimi.it</a></li>
				</ol>
			</nav>
    </div>

    <div class="resources">
      <div class="follow-us">
        <p>Do you want to stay updated? Follow us on:</p>
        <div class="social">
          <a href="https://www.facebook.com/polimiopenknowledge/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
          <a href="https://twitter.com/pokpolimi" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
          <a href="https://www.youtube.com/channel/UCOKtBGblWKlkE-KIf-S0Fvg" target="_blank"><span class="fa fa-youtube" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="banner-book-footer">
        <p>Stay tuned also with <a href="http://book.unibo.it/" target="_blank">BOOK</a> (UniBO Open Knowledge platform) for a growing offer of MOOC contents!</p>
      </div>
    </div>

  	<div class="references">
      % if not hide_openedx_link:
  		<div class="openedx">
  			<a class="open-edx-logo" href="http://openedx.org"><img src="${static.url('images/openedx.png')}" alt="Powered by Open edX" /></a>
  			<p>Built on <a target="_blank" href="http://openedx.org">OpenEdX</a> by <a target="_blank" href="http://www.metid.polimi.it">METID</a> in collaboration with <a target="_blank" href="http://www.asict.polimi.it">ASICT</a></p>
  		</div>
      % endif
  		<div class="eco-references">
  			<img src="${static.url('images/cip-eu_logo.jpg')}" alt="ECO Project" />
  			<a class="eco-project-logo eco-loghi" href="http://ecolearning.eu"><img src="${static.url('images/eco_logo.jpg')}" alt="ECO Project" /></a>
  		</div>
      <div class="reimagine-award">
        <div class="badge">
          <a href="http://www.reimagine-education.com/"><img src="${static.url('images/award_big.png')}" alt="Reimagine Education" /></a>
          <p>Reimagine Education Award 2015 - Shortlisted</p>
        </div>
      </div>
  	</div>

  </div>
</footer>


<div id="polimi-footer">
	<a href="http://www.polimi.it" target="_blank"><img src="${static.url('images/poli_logotipo.png')}"  alt="Politecnico di Milano" /></a>
</div>


<div class="contact-us-tab">
  <a href="mailto:pok@polimi.it" role="button">CONTACT US</a>
  <a href="/faq">FAQ</a>
</div>


% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif
