<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="bodyclass">view-index</%block>

<%block name="pagetitle">POK - MOOCs portal of Politecnico di Milano</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              <h1>${_("Polimi OPEN KNOWLEDGE")}</h1>
              <h2>${_("MOOCs to BRIDGE THE GAPS")}</h2>
            </div>
          </div>

          <div class="media">
  	    		<div class="hero">
  	            	<div class="no-play-intro"></div>
  	        </div>
	        </div>
        </div>

        <div class="updates-box">
          <h3>Exciting news!/Novità in arrivo!</h3>
          <p>Starting from March 6th, 2024, POK is getting a brand new interface! <a href="https://metid.slite.com/app/channels/t0NTSyXvazluo4">Discover more</a></p><br><br>
          <p>A partire dal 6 marzo 2024, POK si rinnova con una nuova interfaccia!<a href="https://metid.slite.com/app/channels/t0NTSyXvazluo4">Scopri di più</a></p>
        </div>  

      </header>
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
